<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Prostitution is Female Oppression</dd>

    <dt>Author:</dt>
    <dd>Norma Ramos</dd>
    
    <dt>Publisher:</dt>
    <dd>Coalition Against Trafficking in Women</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
Norma Ramos is Executive Director of the Coalition Against Trafficking in Women, the oldest international, non-governmental organization dedicated to ending trafficking in women and girls and related forms of commercial sexual exploitation.  As a grassroots activist, she has previously served on the board of the human rights organization, Equality Now. 
</div>

<p>
  At its core, prostitution is violence against women. Safe prostitution is an oxymoron. Prostitution creates a class of human beings who are not supposed to feel when they are most supposed to feel, who are not allowed to say no to unwanted sex.  It is the world’s oldest oppression.
</p>

<p>
  The way to address oppression is to end it -- not legalize, regulate, or make it more tolerable. The most effective way to address commercial sexual exploitation is to penalize buyers and others profiting from the sale of women’s bodies, while offering those caught up in the sex trafficking industry a way out.  Our approach to prostitution should be premised on the idea that women and girls have the right not to be bought and sold for sexual exploitation.
</p>

<p>
  Examining the demographics of prostitution underscores its oppressive nature.  Although accurate statistics are difficult to collect, prostitution disproportionately reflects female, transgender, and gender non-conforming individuals, who are young, of minority status, and living in poverty.  This inequity reflects the oppressive nature of prostitution – it exploits the most vulnerable members of society, who often have no other choice but to enter into the sex trade. 
</p>

<p>
  A study by Estes and Weiner from 2001 determined that the average age of entry into the sex industry in the U.S. was just 16 years old.  In interviews with 66 adolescents being prostituted, Farley (2016) found adolescents to explain entry into the sex trade as a way to escape from violence and abuse (including sexual abuse, homophobia, and transphobia) that they have experienced in their homes and within child welfare systems.  As such, prostitution becomes a double evil, oppressing the already oppressed. 
</p>

<p>
  Prostitution teaches men and boys that women and girls can be rendered into sexual commodities that can be bought or sold for sexual use and abuse. It creates a callousness among men that undermines the human rights of all women and girls.
</p>
