<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Overconsumption is a Grace Threat to Humanity</dd>

    <dt>Author:</dt>
    <dd>Jamias Cascio</dd>

    <dt>Publisher:</dt>
    <dd>New York Times</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
 Jamias Cascio is a research fellow at the Institute for the Future and a senior fellow at the Institute for Ethics and Emerging Technologies. In 2009, Foreign Policy named him one of its Top 100 Global Thinkers.
</div>

<p>
 Humanity’s impact on the planet is a combination of three elements: our numbers, our consumption patterns, and how we produce what we consume.  
</p>

<p>
There’s no need to worry about overpopulation.  The average woman today, worldwide, has 2.5 children, half as many as her grandmother. And the fertility rate continues to fall. There is more population growth to come, but we are not “doomed” by exponential population growth.
</p>

<p>
 What we should be worried about is a “consumption bomb".  Our growing demands for both consumer goods and life necessities are responsible for the depletion of soil, water, and other life-supporting resources.
</p>

<p>
But there is hope.  We have to radically change how we consume.  Managing overpopulation requires a fundamental shift in resource use, changes to our behavior, and the thoughtful application of emerging technologies.
</p>

<p>
 For example, modern agriculture would be unable to support the world’s population with a Western diet.  Conversely, a primarily vegetarian diet would be fine.  Today, roughly one third of world grain is consumed by domestic animals. More than one sixth of grain goes into industrial products like biofuels. Less than half of the world’s current cereal production feeds humans.  The world chooses to feed its machines and its domestic animals before it feeds its people.  But if we change dietary consumption, we can ensure a universally high standard of living.
</p>

<p>
  We know what is needed for the 21st century: low-carbon energy, recycling of everything from metals to water, and fixing the massive inefficiencies in food production to solve inequality around the world.  A moderate but sustained increase in how efficiently we produce and consume, over time, will have an enormous impact. 
</p>
