<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Multiple Intelligence</dd>

    <dt>Author:</dt>
    <dd>Howard Gardener</dd>

    <dt>Publisher:</dt>
    <dd>Harvard University Press</dd>

    <dt>Date of Publication:</dt>
    <dd>Auguest, 1983</dd>

    <dt>Location:</dt>
    <dd>Cambridge, MAt</dd>

    <dt>URL:</dt>
    <dd>http://www.pz.harvard.edu/projects/multiple-intelligences</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
 Howard Gardener is the Hobbs Professor of Cognition and Education at the Harvard Graduate School of Education.  He is the director of Project Zero, a research institute dedicated to understanding successful work habits among yound people. 
</div>

<p>
  The theory of multiple intelligences was developed in 1983 by Dr. Howard Gardner, professor of education at Harvard University. It suggests that the traditional notion of intelligence, based on I.Q. testing, is far too limited. Instead, Dr. Gardner proposes eight different intelligences to account for a broader range of human potential in children and adults. 
</p>

<p>
<ul>  
<li>
Linguistic intelligence ("word smart")
</li>

<li>
Logical-mathematical intelligence ("number/reasoning smart")
</li>

<li>
Spatial intelligence ("picture smart")
</li>

<li>
Bodily-Kinesthetic intelligence ("body smart")
</li>

<li>
Musical intelligence ("music smart")
</li>

<li>
Interpersonal intelligence ("people smart")
</li>

<li>
Intrapersonal intelligence ("self smart")
</li>

<li>
Naturalist intelligence ("nature smart")
</li>

</ul>
</p>

<p>
 Dr. Gardner says that our schools and culture focus most of their attention on linguistic and logical-mathematical intelligence. We esteem the highly articulate or logical people of our culture. However, Dr. Gardner says that we should also place equal attention on individuals who show gifts in the other intelligences: the artists, architects, musicians, naturalists, designers, dancers, therapists, entrepreneurs, and others who enrich the world in which we live. 
</p>

<p>
 Unfortunately, many children who have these gifts don’t receive much reinforcement for them in school. Many of these kids, in fact, end up being labeled "learning disabled," "ADD (attention deficit disorder," or simply underachievers, when their unique ways of thinking and learning aren’t addressed by a heavily linguistic or logical-mathematical classroom. 
</p>

<p>
  The theory of multiple intelligences proposes a major transformation in the way our schools are run. It suggests that teachers be trained to present their lessons in a wide variety of ways using music, cooperative learning, art activities, role play, multimedia, field trips, inner reflection, and much more.
</p>

<p>
  So think before blindly believing everything you read. The Muslim Brotherhood members and other Islamist groups are religious fanatics that will resort to any measures to reach a desired end. I am not generalizing this assertion to all of the pro-Morsi demonstrators. However, I am especially critical of Islamist groups that use radical rhetoric and the name of God to justify violence and jihad.
</p>
