<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>A Message to The Muslim Brotherhood: Enough Lies. Enough Blood.</dd>

    <dt>Author:</dt>
    <dd>The Idealist 11</dd>

    <dt>Publisher:</dt>
    <dd>Wordpress</dd>

    <dt>Date of Publication:</dt>
    <dd>July 27, 2013</dd>

    <dt>Location:</dt>
    <dd>Alexandria, Egypt</dd>

    <dt>URL:</dt>
    <dd>https://theidealist11.wordpress.com/</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  I am just Egyptian girl who lives in the present with the glories of the past and hopes in a better future 
  for herself and for her country
</div>

<p>
  I highly doubt that the police or the army is responsible for the deaths of the tens of Muslim Brotherhood members early this morning. A security official has said that only tear gas, not live ammunition, was used to disperse the Morsi supporters. On the other hand, the Brotherhood spokesman told Reuters news agency: "They are not shooting to wound, they are shooting to kill." 
</p>

<p>
  But ask yourselves. What would the security forces gain from killing members of the pro-Morsi protestors? Think rationally. Killing the protestors would actually work against them. The armed forces are currently widely popular among a large sector of the Egyptian population, which is against Morsi and Muslim Brotherhood rule. If the security forces were responsible for killing peaceful Morsi supporters, they would be highly discredited and their popularity would be seriously shaken. 
</p>

<p>
  So now we have to ask ourselves: who would benefit from this? The answer is simple. The Muslim Brotherhood. It would work in their favour to demonize the army. 
</p>

<p>
  There is NO evidence that the armed forces were the ones shooting at the protestors. General Sisi promised to protect peaceful protests irrespective of their affiliation and only use violence in self-defense against violent protestors. His accountability would be shattered if the armed forces were behind the deaths of peaceful protestors. And that is exactly what the Muslim Brotherhood want.  
</p>

<p>
  Not only is it in their interest, but their own leaders have been calling on them to commit jihad against the "military coup." They would sacrifice themselves and kill their own people to demonize the army. Ex-Muslim Brotherhood members have confirmed this. I’m not saying that they shot their own people in this specific incident. But they are acting provocatively and as the interior ministry spokesman said "They are purposely causing a crisis." In his statement he said the Morsi supporters: "halted traffic, set tires on fire and clashed with residents of the nearby [working class] Mansheyet Nasr district using live fire and birdshots, and this killed 21 people."
</p>

<p>
  So think before blindly believing everything you read. The Muslim Brotherhood members and other Islamist groups are religious fanatics that will resort to any measures to reach a desired end. I am not generalizing this assertion to all of the pro-Morsi demonstrators. However, I am especially critical of Islamist groups that use radical rhetoric and the name of God to justify violence and jihad.
</p>
