<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Tracking Students By Ability Produces Academic Results</dd>

    <dt>Author:</dt>
    <dd>Professor Bruce Sacerdote</dd>

    <dt>Document Type:</dt>
    <dd>Research Report</dd>
    
    <dt>Publisher:</dt>
    <dd>National Bureau of Economic Research </dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
Bruce Sacerdote is a professor of economics at Dartmouth College and a research associate at the National Bureau of Economic Research. 
</div>

<p> 
  We know from data, from theory and, most importantly, from decades of experience that ability grouping, like gifted and talented programs, have a big payoff.  
</p>

<p>
  In a paper with fellow economists, James West and Scott Carrell, I examined the effects of peers on achievement among students in the Air Force Academy. We found that students benefitted from learning with their peers, but that these peer effects disappear if groups included the highest ability and lowest ability cadets. 
</p>

<p>
  Likewise, with economists, Scott Imberman and Adrianna Kugler, we examined peer effects on achievement in a sample of students transferring schools after Hurricane Katrina. We discovered that high ability students benefitted the most from learning with high ability peers. And in an experiment in elementary school students in Kenya, researchers found that grouping students into classrooms based on prior achievement benefited all students.
</p>

<p>
  Perhaps most relevant is a study by Caroline Hoxby and Gretchen Weingarth, using data from North Carolina, which found that students benefit from being in classrooms with peers of a similar ability level. Moreover, research suggests that borderline high ability student admitted to gifted programs do not see increased test scores, whereas high achieving students accepted into gifted and talented schools have significantly higher math and science scores. 
</p>

<p>
 Teachers and coaches tell us that findings in support of ability grouping are dead on. They tell us that having a few strong students to lead a group is terrific, but also that too much variation within a single group causes the whole process to break down
</p>
