<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Universal Basic Income is a Basic Right for All Citizens </dd>

    <dt>Author:</dt>
    <dd>Shanta Devarajan</dd>

    <dt>Document Type:</dt>
    <dd>Research Report</dd>
    
    <dt>Publisher:</dt>
    <dd>World Bank</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
Shanta Devarajan is the Chief Economist for the Middle East and North Africa Region for the World Bank.
</div>

<p> 
 Individuals are entitled to a universal basic income as a right of citizenship.  Citizens have ownership over the physical territory of their country and its natural resources.  Currently, corporations earn billions of dollars in profit by exploiting the natural resources that rightfully belong to each country’s citizens.  By fairly taxing profits from natural resource extraction, governments could comfortably afford to provide their citizens with a universal basic income.  In fact, it is governments’ responsibility to do so, as the natural resources that corporations exploit for profit rightfully belong to individual citizens and, once exhausted, these cannot be replenished. 
</p>

<p>
  Around the world, corporations earn massive profits through natural resource extraction.  This is the case with oil in Venezuela, diamonds in Botswana, and coal in China.  Natural resource extraction offers such lucrative profits because corporations have been able to negotiate highly favorably land lease deals with governments, that fail to reflect the real value of natural resources. 
</p>

<p>
  Often, the corporations exploiting countries’ natural resources are foreign entities, that transfer profits overseas, rather than reinvesting these into local economies.  For instance, the Democratic Republic of Congo (DRC) sold their mineral rights to several offshore companies.  The Council on Foreign Relations estimates net loss on those deals is estimated to be $1.36 billion for the DRC economy, far exceeding the $698 million that the DRC spends on health and education each year.  Meanwhile, local citizens bear the real cost of resource extraction – increased pollution, health risks, and environmental damage.   Giver this, a universal basic income would lead to a more equitable distribution of profits between citizens and corporations. 
</p>

<p>
  In Alaska, Iran, and Saudi Arabia residents already receive a subsidy from oil profits, considered to be their right as citizens.  These policies need to be expanded.  Analysis from the International Monetary Fund shows that in oil-exporting countries, a transfer of just 10 percent of oil revenues would effectively eliminate poverty, by guaranteeing a livable universal basic income for all. 
</p>
