<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Building a Less Wasteful Economy</dd>

    <dt>Author:</dt>
    <dd>Chandran Nair</dd>

    <dt>Publisher:</dt>
    <dd>Foreign Policy</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>  
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Chandran Nair is the founder and chief executive of the Global Institute for Tomorrow and is the author of “Consumptionomics: Asia’s Role in Reshaping Capitalism and Saving the Planet.”
</div>

<p>
  It is likely that the global population will peak at higher than 10 billion people.  We must consider radical economic restructuring to cope with the real harms and threats of overpopulation. 
</p>

<p>
Yes, we have had advances in science and technology that have helped the privileged, but this conveniently turns a blind eye to the fact that human ingenuity is not enough to provide the same quality of life for all.
</p>

<p>
 The simple fact is that the population of Asia, expected to be at five billion by 2050, cannot aspire to the lifestyles that are currently taken for granted in the West. These are lifestyles from a bygone era when a small minority controlled the resources of the world, and the rest of the global population did not matter. 
</p>
 
<p>
 Our current economic model is built around promoting relentless consumption by underpricing resources. At its core, our current economic model thrives on a free ride on planetary resources.
</p>

<p>
It is about time that economists, business leaders, and policymakers reject prevailing theories about limitless economic growth and start to construct theories based on the harsh realities of today.  We must develop a new economic system to cope with the threat of overpopulation.
</p>

<p>
A new economic model must account for three major adjustments: First, it must accept limits to economic growth due to resource constraints and ensure that resources are priced at their true cost. Second, the economy needs to be subservient to maintaining the vitality of the resource base and the environment, and not the other way around, as it is now. Third, an effective economy for the 21st century must weigh collective welfare over individual rights.
</p>

