<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Prostitution is Violent, Trust Me</dd>

    <dt>Author:</dt>
    <dd>Rachel Lloyd</dd>

    <dt>Publisher:</dt>
    <dd>Girls Educational and Mentoring Services</dd>

      <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Rachel Lloyd is the executive director of Girls Educational and Mentoring Services in New York City.  She is the author of the memoir, “Girls Like Us,” about her time as a prostitute in Germany.
</div>

<p>
As a teenager, I worked in Germany’s legal sex industry.  Like many girls, I was working in the club, underage; most of us were immigrants, nearly all of us had histories of trauma and abuse prior to our entry into commercial sex. Several of us had pimps despite working in a legal establishment; all of us used copious amounts of drugs and alcohol to get through each night.
</p>

<p>
I entered the sex trade — as most do — before I was even a woman, at 15. I was a commodity in high demand.  I was bought and sold, as often as 10 times in a night. It's hard to describe the full effect of the coercion, and how deeply it eroded my confidence. By my late teens, I was using cocaine to dull the pain.  I was doubly exploited - by those who pimped me and those who bought me.
</p>

<p>
Violence is inherent in the sex industry. Numerous studies show that between 70 percent and 90 percent of children and women who end up in the commercial sex trade were sexually abused prior to entry (Ditmore and Brown, 2004; Winberg and Smith, 2002). No other industry is dependent upon a regular supply of victims of trauma and abuse.  
</p>

<p>
  The statistics about violence against prostitutes are likewise harrowing.  According to data from the National Institutes of Health, in Phoenix, AZ, 37% of participants in prostitution diversion programs reported being raped by a client. In Miami, FL, 34% of street-based prostitutes reported violent encounters with clients in the past 90 days. In New York, 46% of indoor prostitutes reported being forced to do something by a client that they did not want to do, and over 80% of street-based prostitutes experienced violence. 
</p>

<p>
  It may be true that some women in commercial sex exercised some level of informed consent. But, these women are the minority and don’t represent the overwhelming majority of prostitutes for whom the sex industry is not about choice, but about a lack of choice.  A lack of choice that traps women in an abusive system for perpetuity through violence, drugs, and psychological control. 
</p>

<p><font color="red">You will be asked to evaluate this source, before returning to the source library.</font></p>
