<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>El Sisi’s Islamist Agenda for Egypt: The General’s Radical Political Vision</dd>

    <dt>Author:</dt>
    <dd>Robert Springborg</dd>

    <dt>Publisher:</dt>
    <dd>Council on Foreign Relations</dd>

    <dt>Date of Publication:</dt>
    <dd>July 28, 2013</dd>

    <dt>Location:</dt>
    <dd>Washington, DC</dd>

    <dt>URL:</dt>
    <dd>http://www.foreignaffairs.com/articles/</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>  
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Robert Springborg is a Professor of National Security Affairs at the Naval Postgraduate School
</div>

<p>
  Last week, al-Sisi, the commander of Egypt’s armed forces, which recently deposed the country’s first freely elected president, went beyond addressing the graduates of Egypt’s academies. Sisi’s true audience was the wider Egyptian public.
  He presented himself less as a general than as a populist strongman. He urged Egyptians to take to the streets to show their support for the provisional government that he installed after launching a coup to remove from power President Morsi, a longtime leader of the Islamist Muslim Brotherhood.  Sisi requested a "mandate" to confront the Muslim Brotherhood, whose supporters have launched protests to denounce the new military-backed regime.
</p>

<p>
  Sisi will not be content to serve as the leader of Egypt’s military. There are indications that Sisi is less than enthusiastic about democracy and that he intends to hold on to political power.  Based on a thesis he wrote at the U.S. Army War College it is possible that Sisi has something in mind: a hybrid regime that combines Islamism with militarism.
</p>

<p>
  Sisi emphasizes the centrality of religion to the politics of the region, arguing, "for democracy to be successful in the Middle East," 
  it must show “respect to the religious nature of the culture” and seek "support from religious leaders." 
  He condemns governments that "disenfranchise large segments of the population who believe religion should not be excluded from government." 
</p>

<p>
  Indeed, Morsi tapped Sisi to become defense minster because there was plenty of evidence that the general was sympathetic to Islamism. He is a devout Muslim who frequently inserts Koranic verses into conversations, and his wife wears the conservative dress favored by orthodox Muslims. 
</p>

<p>
  Those concerned about Sisi’s views on women’s rights were alarmed by his defense of the military’s use of "virginity tests" for female demonstrators. Human-rights activists argued that the “tests” amounted to sexual assaults. 
</p>

<p>
  Last summer, when Morsi tapped Sisi to replace the Minister of Defense, Morsi believed that he chose someone willing to subordinate himself to an elected government. Foreign observers interpreted Sisi’s promotion as a signal that the military would be professionalized, with a reduction of its role in politics and the economy. 
</p>

<p>
  There is plenty of evidence that Sisi is not nearly as modest as he prefers Egyptians believe. 
  He remained minister of defense in the new government and also took the post of first deputy prime minister. Sisi also released a video glorifying the general, taking care to illustrate the military’s provision of goods and services to civilians.  
</p>

<p>
  He also tried to undercut support for the Brotherhood by appealing directly to their followers, these moves may be intended to inoculate him against the charge that the coup was anti-Islamist - a critical point, since Islamism enjoys broad support in Egypt. 
</p>

<p>
  If Sisi continues to seek legitimacy for military rule by associating it with Islamism, it could be a disaster for Egypt, setting back the democratic cause. It would also reinforce the military’s octopus-like hold on the economy, which is a major obstacle to Egypt’s economic development.  
</p>
