<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Gifted Education is Unequal Education</dd>

    <dt>Author:</dt>
    <dd>Halley Potter</dd>
 
    <dt>Document Type:</dt>
    <dd>Policy Paper</dd>

    <dt>Publisher:</dt>
    <dd>National Coalition on School Diversity</dd>

      <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Halley Potter is a policy associate at The National Coalition on School Diversity, which recently released the policy briefing: “Segregation in Elementary Schools and What We Can Do About It”
</div>

<p>
Gifted and talented programs have a long history of increasing socioeconomic and racial segregation within schools.  For example, as of 2011, roughly 70 percent of all New York City public school students were black and Latino, but more than 70 percent of kindergartners in gifted and talented programs were white or Asian. 
</p>

<p>
Repeated attempts to fix the problems associated with gifted and talented admissions have in many cases only increased disparities. These trends show no sign of reversing in newly released Department of Education data, which confirm that students from wealthier families continue to dominate gifted and talented placements.
</p>

<p>
Decades of research demonstrate the educational harms of segregation for low-income students. At the same time, affluent white and Asian students in separate gifted and talented classrooms are also denied the cognitive and social benefits that socioeconomically and racially diverse classrooms offer.
</p>

<p>
One of the purposes of gifted and talented programs over the years has been to attract middle-class families to public schools, but this strategy may be as counterproductive as it is inequitable. Recent research by sociologists Amy Stuart Wells and Allison Roda has found that some white, affluent families are opting for private schools because they are disturbed by the segregated classrooms caused by gifted and talented programs.
</p>

<p>
Instead of providing segregated gifted and general education tracks, more schools should take a schoolwide approach to gifted education, eliminating separate gifted and talented.  Public schools should offer “gifted education for all” through academic enrichment tailored to each student’s strengths. 
</p>

