<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>A Universal Basic Income Means an End to Poverty</dd>

    <dt>Author:</dt>
    <dd>Robert Greenstein</dd>
 
    <dt>Document Type:</dt>
    <dd>Policy Memo</dd>

    <dt>Publisher:</dt>
    <dd>Center for American Progress</dd>

      <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Robert Greenstein is a fellow at the Center for American Progress.  In 1994, he was appointed by President Clinton to serve on the Bipartisan Commission on Entitlement and Tax Reform.
</div>

<p>
A universal basic income would eliminate poverty. 
</p>

<p>
Currently, a vast federal bureaucracy exists to provide support to individuals in poverty.  According to the Congressional Budget Office, in 2015, out of a $3.7 trillion budget, the U.S. government spent $362 billion dollars on programs aimed at poverty reduction and $916 billion on entitlement programs, like Social Security.
</p>

<p>
Individuals in poverty are oftentimes the beneficiaries of multiple service programs.  A family of four may qualify for subsidized housing, reduced prices on utilities, Medicaid, and more – all through separate government programs.  
</p>

<p>
A universal basic income would eliminate the need for all such programs.  Instead, the funding these programs currently provide to needy families, along with reductions in bureaucratic and administrative costs, would be directly transferred to providing all citizens with a UBI.
</p>

<p>
Moreover, a UBI would eliminate the need for tax deductions specifically targeting low and moderate income individuals, like the earned income tax credit (EITC).  In 2015, 27 million people in the U.S. benefitted from the EITC, leaving $67 billion in revenue uncollected (Internal Revenue Service, 2016).  Eliminating such deductions and redirecting revenues toward a UBI would provide individuals with straight-forward, direct support.
</p>

<p>
A UBI would allow needy families to have a single stream of income each month, eliminating the need for them to cobble together basic living costs from a patchwork of funding sources. Moreover, a UBI would allow individuals dignity in making choices about how they want to spend their money and would eliminate the negative stigma associated with receiving government benefits, since a UBI would be provided to all.
</p>

<p>
A critical limitation of current means-tested programs intended to alleviate poverty is that when individuals start to work at low-wage jobs, they lose benefits, without being able to afford to do so.  In this way, current social service programs may dis-incentivize work.  Providing all citizens with a UBI would mean that individuals would be free to work (or not) without fear of poverty. 
</p>
