<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Triarchic Theory of Intelligence</dd>

    <dt>Author:</dt>
    <dd>Robert J. Sternberg</dd>

    <dt>Publisher:</dt>
    <dd>Yale University Press</dd>

    <dt>Date of Publication:</dt>
    <dd>2003</dd>

    <dt>Location:</dt>
    <dd>New Haven, CT</dd>

    <dt>URL:</dt>
    <dd>http://www.intelltheory.com/sternberg.shtml</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>  
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Robert J. Sternberg is a Professor of Human Development at Cornell University and Director of Center for the Psychology of Abilities, Competencies, and Expertise
</div>

<p>
  The triarchic theory of intelligence is based on a broader definition of intelligence than is typically used. In this theory, intelligence is defined in terms of the ability to achieve success in life based on one's personal standards–and within one's sociocultural context. The ability to achieve success depends on the ability to capitalize on one's strengths and to correct or compensate for one's weaknesses. Success is attained through a balance of analytical, creative, and practical abilities–a balance that is achieved in order to adapt to, shape, and select environments.
</p>

<p>
<strong>Three Aspects of Intelligence </strong>.  According to the triarchic theory, intelligence has three aspects: analytical, creative, and practical.
</p>

<p>
  <strong> Analytical intelligence. </strong> Analytical intelligence is involved when the components of intelligence are applied to analyze, evaluate, judge, or compare and contrast. It typically is involved in dealing with relatively familiar kinds of problems where the judgments to be made are of a fairly abstract nature.
</p>

<p>
 <strong>Creative intelligence.</strong> In work with creativeintelligence problems, Robert Sternberg and Todd Lubart asked sixty-three people to create various kinds of products in the realms of writing, art, advertising, and science. For example, in writing, they would be asked to write very short stories, for which the investigators would give them a choice of titles, such as "Beyond the Edge" or "The Octopus's Sneakers." In art, the participants were asked to produce art compositions with titles such as "The Beginning of Time" or "Earth from an Insect's Point of View." Participants created two products in each domain.
</p>

<p>
<strong> Practical intelligence.</strong> Practical intelligence involves individuals applying their abilities to the kinds of problems that confront them in daily life, such as on the job or in the home. Much of the work of Sternberg and his colleagues on practical intelligence has centered on the concept of tacit knowledge. They have defined this construct as what one needs to know, which is often not even verbalized, in order to work effectively in an environment one has not been explicitly taught to work in–and that is often not even verbalized.
</p>

