<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Egypt Arrests 11 Islamists for Facebook Activity</dd>

    <dt>Author:</dt>
    <dd>Maggie Michael</dd>

    <dt>Publisher:</dt>
    <dd>Associated Press</dd>

    <dt>Date of Publication:</dt>
    <dd>January 30, 2014</dd>

    <dt>Location:</dt>
    <dd>Cairo, Egypt</dd>

    <dt>URL:</dt>
    <dd>http://bigstory.associatedpress.org/</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Maggie Michael, Associated Press Senior Reporter, Cairo Bureau
</div>

<p>
  Egyptian authorities, led by General el Sisi, arrested 11 Muslim Brotherhood members accused of running Facebook pages that incited violence against police.
</p>

<p>
  After crippling the Muslim Brotherhood in a wave of arrests and killings of protesters, security agencies are going after younger supporters of ousted Islamist President Morsi, looking for links to a growing violent backlash against the military regime.  Younger members have been using the Internet and social media to keep Islamist protests alive.
</p>

<p>
  Bombings and drive-by shootings targeting police officers have accelerated in retaliation for the killings and jailing of Brotherhood members and Islamists. The government accuses Morsi's Brotherhood of orchestrating the violence and has branded it a terrorist group — an accusation the Brotherhood denies.  
</p>

<p>
  Police pursuit of protestors online raises concerns that attacks could be used as a pretext for imposing heavier restrictions on the freedom of the Internet, which has served as a major outlet for protests after the military-backed interim government of General el-Sisi silenced other forms of dissent, arresting secular activists. 
</p>

<p>
  Social media has become the Brotherhood's main form of communication, spreading calls for non-stop protests demanding Morsi’s reinstatement and posting pictures of slain protesters while calling for revenge. 
</p>

<p>
  After police crashed pro-Morsi protest camps, Brotherhood websites were filled with pictures and personal details about police officers involved in the assault. The day witnessed one of Egypt's worst bloodbaths, with hundreds killed. 
</p>

<p>
  The arrests today were linked to Brotherhood websites. The Interior Ministry said those detained were accused of using websites to "incite violence, target citizens, make bombs and carry threatening messages." 
</p>

<p>
  Among those detained were six people running a Facebook page, “Damanhour Ghosts,” with around 500 followers, criticizing the military government and calling for the freeing of detainees.  
</p>

<p>
  Others were arrested in connection to a page, “Anti-Coup Hooligans Brigade,” which includes photos of policemen accused of killing protesters, warning, "vengeance is coming" and pictures of youth throwing firebombs. 
</p>

<p>
  During Morsi's one-year presidency, there were several arrests related to postings considered blasphemous or offensive to Islam.  Coptic Christian Saber was sentenced to prison after neighbors complained that he posted an anti-Islamic film on his Facebook page.  In 2012, blogger and activist Abdel-Fattah was detained after a post on his Twitter account. 
</p>

<p>
  Currently, under General Sisi, authorities have expanded their anti-Brotherhood crackdown to go after the Qatar-based Al-Jazeera TV news network, which they have long accused of being biased toward the Brotherhood. 
  The network denies any bias.  
</p>

<p>
  Twenty Al-Jazeera journalists were put on trial for aiding a terrorist group and endangering national security. 
</p>

<p>
  U.S. State Department spokeswoman Psaki said Washington was "deeply concerned" about the lack of freedoms in Egypt and the country's "egregious disregard for the protection of basic rights and freedoms." 
</p>

<p>
  Egypt's Foreign Ministry spokesman, Abdelattie, rejected the U.S.’s criticism, insisting that the judicial system ensures fair trials with no government interference.  
</p>

<p>
  No date has been set for the trial and the full list of charges and defendants has not been released. 
</p>
