<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>The Violent Side Effect of High Fertility Rates</dd>

    <dt>Author:</dt>
    <dd>Jack Goldstone</dd>

    <dt>Publisher:</dt>
    <dd>Foreign Policy Press</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
 Jack Goldstone is Hazel professor of public policy and a fellow of the Mercatus Center at George Mason University. He blogs at NewPopulationBomb.
</div>

<p>
 Overpopulation must be tackled regionally. Overall, global population growth has slowed tremendously. In places such as Europe and East Asia, the biggest concern for the future is the decline of the working age population, not overall growth. Yet in some regions population is still growing quickly, and with still-frightening consequences.
</p>

<p>
 To be sure, population itself is not necessarily a problem. Some of the richest places on earth, such as the Netherlands and Japan, are among the most densely populated. But risks of violent conflict rise when a surging youth population cannot find productive employment, and when a country lacks the resources and government to respond to intermittent crises.
</p>

<p>
Today, population growth is most rapid in precisely such places, mainly in sub-Saharan Africa and the Middle East.  In countries such as Nigeria, Tanzania and Uganda, women still have from 5 to 6 children, on average, while in conflict-torn countries such as Yemen, Iraq, and Afghanistan, they are still having an average of 4 children during their lifetimes.  Roughly 25 percent of the world’s children are in Africa today; by mid-century it will be 40 percent.
</p>

<p>
 Regions with very large youth cohorts are historically far more prone to violence than older populations. Only when investment starts to rise do societies get on track for political stability and sustained growth in per capita incomes.
</p>

<p>
Governments in Africa and the Middle East must invest in capital accumulation, infrastructure development, technological progress, and skill building.  Such investment in development is the recipe for long-term stability and prosperity.  Not only does such investment safeguard against the dangers of rapid population growth, it decreases the growth itself. 
</p>
