<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Fluid Intelligence vs. Crystallized Intelligence</dd>

    <dt>Author:</dt>
    <dd>Raymond Cattell</dd>

    <dt>Publisher:</dt>
    <dd>Journal of Educational Psychology</dd>

    <dt>Date of Publication:</dt>
    <dd>June, 1963</dd>

    <dt>Location:</dt>
    <dd>Washington, DC</dd>

    <dt>URL:</dt>
    <dd>http://ir.uiowa.edu/cgi/viewcontent.cgi?article=2639&context=etd</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Raymond Cattell was a psychologist and psychometricia who spent over 30 years researching intelligence at the University of Chicago.
</div>

<p>
 What is Fluid Intelligence?
</p>

<p>
 Cattell defined fluid intelligence as "…the ability to perceive relationships independent of previous specific practice or instruction concerning those relationships.”
</p>

<p>
  Fluid intelligence involves being able to think and reason abstractly and solve problems. This ability is considered independent of learning, experience, and education. Examples of the use of fluid intelligence include solving puzzles and coming up with problem-solving strategies.
</p>

<p>
  Fluid intelligence tends to decline during late adulthood.
</p>

<p>
 What Is Crystallized Intelligence?
</p>

<p>
 Crystallized intelligence involves knowledge that comes from prior learning and past experiences. Situations that require crystallized intelligence include reading comprehension and vocabulary exams.
</p>

<p>
  This type of intelligence is based upon facts and rooted in experiences. As we age and accumulate new knowledge and understanding, crystallized intelligence becomes stronger.
</p>

<p>
  As you might expect, this type of intelligence tends to increase with age.
</p>
