<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>A Universal Basic Income is a Necessary Response to the Automated Workplace of the Future</dd>

    <dt>Author:</dt>
    <dd>Stan Seibert</dd>

    <dt>Document Type:</dt>
    <dd>Analysis Essay</dd>

    <dt>Publisher:</dt>
    <dd>University of Pennsylvania Press</dd>
    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Dr. Stan Seibert is a Professor of Business and Labor Economics at the Pennsylvania State University.
</div>

<p>
A universal basic income is the way of the future. 
</p>

<p>
The American workplace is radically changing.  Economists at Oxford University predict that by the year 2050, as many as 47% of U.S. jobs will be automated.  This includes truck drivers, displaced by driverless cars, and radiologists, replaced by artificial intelligence-based algorithms scanning x-rays. Currently, there are no viable plans in place to provide for individuals whose jobs will be eliminated, and unable to be replaced, due to automation. A universal basic income is the only reasonable response to a jobless future.   
</p>

<p>
But, a future without jobs does not mean a future without work.  Currently, many individuals engage in unpaid labor, this includes volunteering, pursuing artistic endeavors, and studying for educational advancement.  Moreover, in 2015, an estimated 43.5 million adults in the United States (18.2%) provided care to children and adult family members – also unpaid (American Association of Retired Persons, 2015).  But our society is out of balance - despite these activities providing massive benefits to our communities, they are typically unpaid.  Indeed, individuals often hold low-wage or unfulfilling jobs just to allow themselves to purse these activities in their limited spare time. 
</p>

<p>
A universal basic income would eliminate the distinction between holding a job and doing valuable work.  Indeed, the provision of a universal basic income would free individuals to pursue work they find meaningful and motivating – be it paid or unpaid.  This will allow for the preservation of human dignity and industry in the face of workplace automation. 
</p>

<p>
At the same time, a universal basic income would provide benefits even to individuals who continue to hold paid jobs.  When not relying on job-based income, individuals will be able to be selective about the jobs they choose to do and will have the security to bargain for more favorable work conditions or leave toxic work environments without fear of financial hardship or ruin.
</p>
