<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Prostitution Increases Sex Trafficking</dd>

    <dt>Author:</dt>
    <dd>Max Waltman, Ph.D.</dd>

    <dt>Publisher:</dt>
    <dd>Oxford University Press</dd>
    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Max Waltman is a professor of Political Science at Stockholm University where he writes about sexual exploitation and pornography in Canada, the United States, and Europe. 
</div>

<p>
  Prostitution is a cycle of inequality. Most people in prostitution enter as children after being sexually abused. Lacking education and resources to survive, often destitute and homeless, they are easy prey for pimps and johns. Sexism and racism lock them in, as in the United States, where African-American women and girls are far overrepresented in prostitution.  In Canada, a study by the Canadian Public Health Association found 25% of female sex workers in Toronto to be international migrants. Moreover Inuit, First Nations, and Métis women were far over-represented in the sex trade, making up 14%-60% of prostitutes, across regions, despite being only 4.3% of the population, overall.  
</p>

<p>
  Prostitution inflicts such trauma on the victims, that escape is virtually impossible without social support. A study of 854 prostituted persons in nine countries by Farley and colleagues (2004), found that 89 percent wanted to escape prostitution but felt they could not, and that two-thirds met the clinical criteria for post-traumatic stress disorder, equal to that of treatment-seeking Vietnam veterans and victims of torture or rape. A Korean study by Choi et al. in 2009 found prostitution strongly related to post-traumatic stress disorder, even after controlling for prior childhood abuse.
</p>

<p>
  Compelling evidence shows that across-the-board decriminalization increases sex trafficking without improving the health and safety of victims or controlling organized crime.  At the same time, the demand for unsafe and dangerous sex continues to rise. Decriminalization is a failed experiment.  Jakobsson (2013) reported that legalizing prostitution only serves to increase demand for paid sex, spurring increases in human trafficking.  Using European cross-country data shows that the trafficking of persons for commercial sexual exploitation was least prevalent in countries where prostitution is illegal, most prevalent in countries where prostitution is legalized, and in between in those countries where prostitution is legal but the procurment of prostitutes is illegal.  For instance, police in Victoria, Australia, where prostitution is legal, estimate that there are 400 illegal brothels for every 100 legal ones. 
</p>

<p>
  Legalizing prostitution will not eliminate the demand for illegal sex – sex with minors, sex that is unprotected, or sex that is violent.  All it will do is make trafficking and abuse more difficult to find and prosecute. 
</p>

<p><font color="red">You will be asked to evaluate this source, before being able to return to the source library.</font></p>
