<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>America’s Future Depends on Gifted Students</dd>

    <dt>Author:</dt>
    <dd>Frederick M. Hess</dd>

    <dt>Document Type:</dt>
    <dd>Position Paper</dd>

    <dt>Publisher:</dt>
    <dd>National Association for Gifted Children</dd>
    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Frederick M. Hess is the director of education policy studies at the National Association for Gifted Children. 
</div>

<p>
Should public schools have separate gifted education programs? The answer is definitely yes.  Some children are clearly gifted in ways that others are not, and schools exist to provide the resources and instruction that can nurture those gifts. It’s worth noting that students with special gifts are the ones most likely to one day develop miraculous cures, produce inspiring works, and invent technological marvels that improve the lives of all Americans.
</p>

<p>
Insisting that gifted children will “be fine” if we eliminate gifted and talented programs is unfair to these children and a horrific waste of a valuable resource. We put gifted children at risk when we simply hope that overburdened classroom teachers can provide the teaching and learning that gifted children need. Anyone who has watched a teacher work to “differentiate” instruction in a classroom that encompasses both math prodigies and English language learners knows it’s unreasonable to expect most teachers to do this well.
</p>


<p>
The National Association for Gifted Children reports that 14 states provided no funding at all for gifted education. In a widely cited Fordham Institute report, pollsters Steve Farkas and Ann Duffett found that most teachers feel pressured to focus their attention on the lowest-achieving students, with 81 percent saying “struggling students” are most likely to get one-on-one attention. While federal K-12 spending has roughly doubled since 2002, funding for gifted education has declined from $11.25 million in 2002 to $5 million in 2014.  This means that, instead of being nurtured, high achieving students are receiving less attention than their low achieving peers.  
</p>
