<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Technology and Population</dd>

    <dt>Author:</dt>
    <dd>Brad Allenby</dd>

    <dt>Publisher:</dt>
    <dd>The Economist</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Brad Allenby is the Lincoln Professor of Engineering and Ethics and the founding chairman of the Consortium for Emerging Technologies, Military Operations, and National Security at Arizona State University.
</div>

<p>
Global levels of human population and the general state of technology are correlated. Not surprisingly, the carrying capacity of the world with respect to our species is dependent on available technologies.
</p>

<p>
What that means is that, in practical terms, we don’t have sufficient data to predict whether the world could support an immensely larger population or what a world that could would look like. 
</p>

<p>
Experts were confidently predicting social collapse as a result of overpopulation in the 1970s, termed “The Population Bomb.”  But it didn’t happen because we underwent an unanticipated evolution of agricultural technology, the Green Revolution, which came from the development of high-yielding crop varieties. World food production doubled in a generation.
</p>

<p>
Similarly, because technological evolution is inherently unpredictable, -- we really have no idea what such a future world would look like.  This is especially true in our current age of accelerating technological change, characterized by some as the Five Horsemen -- nanotechnology, biotechnology, robotics, information and communication technology and applied cognitive science.
</p>

<p>
Easy predictions might include things like learning how to do urban agriculture at scale, but what might be more likely would be completely out-of-left-field technologies like growing meat in factories from stem cells.
</p>

<p>
Discussing such scenarios to see how they play out is useful; thinking that we’re actually making meaningful predictions about the future is not.  
</p>

