<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Sex Work is a Civil Right</dd>
    
    <dt>Author:</dt>
    <dd>Jane Cicero, J.D.</dd>
   
    <dt>Publisher:</dt>
    <dd>American Civil Liberties Union</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Jane Cicero is Deputy Legal Director of the American Civil Liberties Union (ACLU).  Prior to joining the ACLU, she was National Policy Director for Amnesty International, where she focused on economic empowerment and women's rights. 
</div>

<p>
  As protectors of civil liberties, we believe the government should not throw consenting adults in jail for private sexual conduct. An adult who chooses to engage in sexual activity, whether for recreation, procreation, or in exchange for something of value, makes a private, individual choice that should not be subject to criminal sanctions. Our rights to individual autonomy and privacy allow us all to make these decisions as adults.
</p>

<p>
  The prosecution of prostitution represents an invasive form of government intrusion.  Prostitution is the ultimate example of a “victimless” crimes.  It represents an act that is (1) arbitrarily deemed illegal, but (2) involves no intrusion on anyone's person or property, and (3) about which no injured party files a complaint with the police.   As such, the criminalization of prostitution allows law enforcement authorities an excuse to prosecute already stigmatized individuals, rather than protecting them. 
</p>

<p>
  Often the government prosecutes prostitutes by over-applying and abusing vagrancy or loitering laws to harass and arrest those who may be engaged in solicitation for prostitution.  Such laws have traditionally represented one of the most direct forms of discrimination against women.  Police making arrests on the basis of reputation and appearance, is contrary to legal notions of equal treatment and due process.
</p>

<p>
  As advocates for equality, we know that anti-sex work laws disproportionately target women along with LGBTQ people, young people and people of color, all of whom are overrepresented in the sex industry and at highest risk of arrest.  Prostitution offers yet another way of disproportionately entangling these individuals in the criminal justice system. 
</p>

<p>
  As criminal justice reformers, we see laws criminalizing sex work as another way of misdirecting law enforcement resources and expanding our unjust system of mass incarceration. Scarce tax dollars underwrite people's arrests and imprisonment for consensual activity. In addition to criminal records, arrests for sex work come with devastating collateral consequences, including eviction, loss of child custody, and deportation, not to mention a criminal record for engaging in the legal activity of sex.  
</p>
