<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Egyptian Attitudes</dd>

    <dt>Author:</dt>
    <dd>Dr. James Zogby and Associates</dd>

    <dt>Publisher:</dt>
    <dd>Zogby Research Services for Arab American Institute</dd>

    <dt>Date of Publication:</dt>
    <dd>September 2013</dd>

    <dt>Location:</dt>
    <dd>Abu Dhabi, United Arab Emirates</dd>

    <dt>URL:</dt>
    <dd>http://www.zogbyresearchservices.com/egyptian-attitudes-2013/</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  Dr. James Zogby is the  founder and president of the Arab American Institute (AAI), 
  a Washington, D.C.-based organization, which serves as the political and policy research arm 
  of the Arab American community. 
</div>

<p>
  This poll represents the third time since May 2013 that we have conducted a nationwide survey of Egyptian public opinion.Our polling has allowed us to track the Egyptians’ changing attitudes toward developments as they unfold: how they view their government and institutions; areas of agreement and disagreement; and their hopes for the future.
</p>

<p>
  In our September survey, we find that public opinion in Egypt has become more conflicted and more polarized. Overall, 60% of Egyptians remain hopeful about the country’s future and 83% believe that the situation will improve in the next few years, but the continuing violence has taken a toll. A plurality (46%) of all Egyptians believe that the situation in their country has become worse, not better, since the Morsi government was deposed. Eighty percent (80%) of Morsi’s Freedom and Justice Party (FJP) supporters express this view. But only about one-half of the rest of the country feels that Egypt is better off, with nearly one in five saying that the situation is the same as it was before the military intervened. 
</p>

<p>
  The military remains the institution in which Egyptians have the greatest confidence, but their positive rating has declined to 70%, owing to a sharp drop in support from those who identify with the Muslim Brotherhood’s FJP and a slight decline in support among liberals.   
</p>

<p>
  The country is split down the middle in its view of the military’s July 3rd deposing of the Morsi government. The FJP, of course, is unanimous in finding the military’s action incorrect, while almost two-thirds of the rest of Egyptians support the deposing of Morsi.  
</p>

<p>
  Between July and September, confidence in the interim government of el Sisi has increased, with between 43% and 51% now saying that they believe that this government can follow the “roadmap” and restore order to the country – with almost two-thirds of non-FJP supporters now expressing this view.  
</p>

<p>
  During the past month, the Muslim Brotherhood’s party has consolidated its strength, while at the same time alienating itself from many other Egyptians. Support for the FJP has leveled off at 34%, up from May’s 28%. And 79% of all Egyptians still want national reconciliation as the desired goal for Egypt. But now one-half of those who do not support FJP identify the Muslim Brotherhood as the main obstacle to reconciliation and more than 60% of non-FJP supporters want the Brotherhood to be banned from Egyptian politics.  
</p>

<p>
  With the FJP continuing to have the support of about one-third of the country, some effort to achieve national reconciliation will be important. At this point, it appears that the choices made by both the military and the Muslim Brotherhood will be decisive in shaping Egypt’s near-term future.  
</p>
