<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>A Universal Basic Income Erodes Jobs and the Will to Work</dd>
    
    <dt>Author:</dt>
    <dd>Andy Stern</dd>
   
    <dt>Document Type:</dt>
    <dd>Policy Memo</dd>

    <dt>Publisher:</dt>
    <dd>Columbia University Press</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Andy Stern is a senior fellow at Columbia’s Richman Center for Business, Law and Public Policy.  Prior to 2010, he was the presenting of the Service Employees International Union.
</div>

<p>
A universal basic income will destroy the American workforce by eliminating any incentive that individuals have to work. 
</p>

<p>
The Bureau of Labor Statistics reports that the largest industries in the US are healthcare (12.0%), retail and sales (10.2%), and manufacturing (8.1%).  Many of the jobs in these sectors are low-wage and low-status positions that are, nevertheless, necessary to our economy.  Providing a universal basic income would mean that individuals no longer need to work for a wage, leaving many difficult, but necessary, jobs vacant and businesses and consumers in a lurch. 
</p>

<p>
Work provides individuals with much more than an income.  Individuals who work, even at low wage or low-status jobs, gain a purpose, a routine, and a community of co-workers – all factors associated with psychological well-being.  Indeed, unemployment has been found to be one of the life circumstances that most adversely impacts individuals’ mental health, more so than do chronic illness or divorce.  For instance, nearly 18% of individuals who are long-term unemployed suffer from depression, as compared to only 5.6% of adults in the general population (Center for Disease Control and Prevention, 2012). 
</p>

<p>
Eliminating the need to work would not only result in society-wide productivity loss, but also in a decrease in socio-economic progress.  Currently, work serves as a primary engine for economic and social advancement.  Eliminating the need to work would also eliminate the need for individuals to strive in school or to take on entry level jobs for professional advancement.  
</p>

<p>
Universal basic income-related job loss would not be uniform.  Rather, low-wage, low-status jobs would be the ones to go, creating an underclass of individuals relying on a universal basic income, separate from an upper class of individuals working meaningful jobs and receiving wages on top their UBI.  Such class stratification would magnify the already large inequities we have in our society, further disadvantaging the neediest individuals and potentially resulting in class tensions and social unrest.
</p>
