<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>The General Intelligence Factor</dd>

    <dt>Author:</dt>
    <dd>E. L. Thorndike</dd>

    <dt>Publisher:</dt>
    <dd>Columbia University Press</dd>

    <dt>Date of Publication:</dt>
    <dd>1927</dd>

    <dt>Location:</dt>
    <dd>Columbia University Press</dd>

    <dt>URL:</dt>
    <dd>http://www.udel.edu/educ/gottfredson/reprints/1998generalintelligencefactor.pdf</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
 E. L. Thorndike spent his illustrious career at Teachers College, Columbia University working as a psychometrician, focued on educational assessment.
</div>

<p>
 Early in the century-old study of intelligence, researchers discovered that all tests of mental ability ranked individuals in about the same way. Although mental tests are often designed to measure specific domains of cognition--verbal fluency, say, or mathematical skill, spatial visualization or memory--people who do well on one kind of test tend to do well on the others, and people who do poorly generally do so across the board. 
</p>

<p>
 This overlap, or intercorrelation, suggests that all such tests measure some global element of intellectual ability as well as specific cognitive skills. In recent decades, psychologists have devoted much effort to isolating that general factor, which is abbreviated g, from the other aspects of cognitive ability gauged in mental tests.
</p>

<p>
  The general factor explains most differences among individuals in performance on diverse mental tests. This is true regardless of what specific ability a test is meant to assess, regardless of the test's manifest content (whether words, numbers or figures) and regardless of the way the test is administered (in written or oral form, to an individual or to a group). T
</p>

<p>
  Tests of specific mental abilities do measure those abilities, but they all reflect g to varying degrees as well. Hence, the g factor can be extracted from scores on any diverse battery of tests.
</p>

<p>
  In addition to quantifying individual differences, tests of mental abilities have also offered insight into the meaning of intelligence in everyday life. Some tests and test items are known to correlate better with g than others do. 
</p>

<p>
  In these items the "active ingredient" that demands the exercise of g seems to be complexity. More complex tasks require more mental manipulation, and this manipulation of information--discerning similarities and inconsistencies, drawing inferences, grasping new concepts and so on--constitutes intelligence in action. Indeed, intelligence can best be described as the ability to deal with cognitive complexity.
</p>
