<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Not Gifted Education, But Quality Education For All</dd>
    
    <dt>Author:</dt>
    <dd>Dr. Darrick Hamilton</dd>
   
    <dt>Document Type:</dt>
    <dd>Analysis Essay</dd>

    <dt>Publisher:</dt>
    <dd>New York University Press</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
 Darrick Hamilton is an Associate Professor of economics and urban policy at the Milano Graduate School of International Affairs, Management, and Urban Policy at The New School at New York University.
</div>

<p>
All children should have access to a talented and gifted curriculum with teachers trained to teach in a way that expects excellence from all children.
</p>

<p>
The consequence of tracking students by ability is self-fulfilling.  By definition tracking locks students into hierarchical groups, with high achieving students receiving positive encouragement and better instruction as compared to their low-achieving peers.  Particularly dangerous is that so-called ability grouping sorts students into groups largely defined by race and socioeconomic class.
</p>

<p>
There is an abundance of case study evidence demonstrating that “low” achieving students perform better and “high” achieving students perform no worse when all students are exposed to a high-level curriculum.
</p>

<p>
In schools around the country, the test scores of low achieving black and Latino students improve dramatically after implementing curricular reforms designed to offer high quality education to all students. 
</p>

<p>
For example, five years after the introduction of an accelerated curriculum for all students, the New York State Regents pass rate at South Side High School rose from 32 percent for black and Latino students and 88 percent for white and Asian students to 92 and 98 percent, respectively. And a program evaluation by two economists, Will Dobbie and Roland Fryer, identified “high quality schooling” as the mechanism to increase students’ math scores, enough to close the racial gap in achievement.
</p>

<p>
There is nothing magical or inherently good or bad about exposing black children to white children. What is critical is exposing every child to a high-quality curriculum with teachers trained to hold high expectations for all students.
</p>
