<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Grossman, L.R. & Schultz, A.R., (2013). High Income Families in Superstar Cities: The Cause of the Urban Housing Crisis. <i>American Economic Journal: Economic Policy</i>, 5(4), 167-99.</dd>
    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data were drawn from the U.S. Census and aggregated at three different levels: the metropolitan area, including all surrounding job growth, the Census-designated political entity, such as a city or town, and the household,  A sample of 280 metropolitan areas was used, with populations of at least 50,000. 
</div>

<p>The cause of the urban housing crisis can be understood as a phenomenon primarily occurring in “Superstar Cities.”  Superstar cities are those with a relatively limited supply of housing that, nevertheless, appeal to a broad range of potential residents.  As such, families’ willingness-to-pay - determined by a family’s desire to live in a given city and how much money it has - drives up housing prices.  </p>

<p>In Superstar cities the share of families earning more than $110,000 grew by 21 percent between 1970 and 2000.  Nationwide, the average growth in that income group was only 9%.  More generally, the fraction of high-income families in Superstar cities is 43% higher than in average cities, and those cities' share of poor families is 11% lower.  Poorer families are displaced from existing neighborhoods and forced to move further away from their jobs and resources available.  </p>

<p>Displaced residents include not only low-skilled or minimum-wage workers, but also, increasingly, workers in the public sector, including police officers, nurses, and teachers.   For instance, in San Jose, one Superstar city, where median home prices are over a million dollars, salaries would need to be over $200,000 ($99.81 an hour) to allow even full-time workers to purchase a home. </p>

<p>This replacement of poorer residents with increasingly  wealthy  families is responsible for today’s the urban housing crisis.</p>


<%= render "sources/footer" %>
