<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Engels, J. G. & Brents, R.K., (2004). Expanding Residential Density to Solve the Urban Housing Crisis. <i>Berkeley Planning Journal</i>, 16(2). University of California, Berkeley. </dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data were drawn from density surveys of three-block areas in major cities in the United States to calculate dwelling-unit densities (units/net acre).  Density calculations were verified via reviews of architectural plans and zoning specifications. 
</div>

<p>While there has been much discussion of the urban housing crisis, few have offered solutions. Here we argue that the obvious solution to the urban housing crisis is to increase the supply of real estate by building more high-density construction, referred to as “upzoning”.  </p>

<p>Increasing the supply of housing is not only a matter of how many new houses are built but also of what types of houses are constructed.  For example, luxury condos and single family homes are occupied by many fewer people than high-rise apartment buildings, despite occupying the same amount of valuable urban space.  Developers should be incentivised to build high-density housing (i.e., more units in a single building) and taller buildings. </p>
<p>A recent density analysis found that low-density residential development typically includes 10-15 dwellings per acre, on lot sizes ranging from 3,000 to 5,000 square feet; medium density row homes allow for the construction of 15-25 dwellings per acre; finally, high-rise construction allows for building of 75 dwellings per acre.  This increase in the number of dwellings is remarkable.  </p>

<p>Incentivising the construction of more high-density housing, through the provision of tax-break incentives and more liberal zoning laws, constitutes the solution to the urban housing crisis.  </p>


<%= render "sources/footer" %>
