<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Hadden, E.A., & Noltey, P.D. (2009). Underused Lots and Urban Development: A Solution to the Urban Housing Crisis in New York City. <i>Furman Center for Real Estate and Urban Policy</i>, New York University.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data came from New York City’s Real Property Assessment Database (RPAD), a massive proprietary data set maintained by the New York City Department of Finance for property tax assessment purposes and is updated annually. RPAD contains detailed information about each uniquely owned parcel of taxable real estate property.
</div>

<p>The solution to the urban housing crisis, whereby housing in cities is increasingly unaffordable, is to have a balanced approach to urban development.  This requires governments to direct resources to areas where they are most needed. </p> 

<p>In a study of residential lots in New York City, 200,000 were found to be built up to less than 50% of their zoning capacity.  These underdeveloped lots, which may be vacant or abandoned, took up 35-38% of land area in residential zones, but offered only 13% of total housing units available. </p>  

<p>In demographic composition, while neighborhoods with underdevelopment above the median were 35.75% Black and 31.45% Latino, neighborhoods with lower rates of underdevelopment were only 14.81% Black and 23.13% Latino.  In terms of socioeconomic status, homeownership in more developed neighborhoods was 34.10%, as compared to 25.00% in underdeveloped areas.  While 17.38% of residents in underdeveloped areas had earned a college degree, 34.87% of residents in more developed areas had done so. </p>  

<p>Adopting a policy of balanced developed would direct resources to underserved areas, revitalizing communities through redevelopment. Moreover, redeveloping these neglected urban areas would ensure that even if displaced by gentrification or neighborhood churn, low income city residents would still have access to an abundant supply of new housing in their city.</p>   

<p>As such, pursuing a policy of balanced development constitutes a promising solution to the urban housing crisis. </p> 

<%= render "sources/footer" %>
