<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Lender, E.F., & Tofts, P.K.  (2017). The changing geography of US poverty: Suburban Infrastructure as a Solution to the Urban Housing Crisis. <i>Report from the Metropolitan Policy Program</i>, Urban Policy Institute.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data come from both a survey of 225 suburban non-profit social service providers and publically available data from the Internal Revenue Service (IRS), which publishes poverty rates and changes in the number of poor persons in different municipalities.

</div>

<p>An effect of the urban housing crisis has been termed gentrification, referring to radical economic change in a neighborhood or the replacement of neighborhood residents, typically those who are lower income and of color, with White and more affluent neighbors. </p> 

<p>Because gentrification only occurs in a limited number of areas, is partially mitigated by rent control, and is associated with displacement at considerably lower levels than the general within-city rate of relocation among low-income renters, it is relatively uncommon for residents to be entirely priced-out of neighborhoods. </p> 

<p>At the same time, gentrification may occur through displacement pressures, when entire neighborhoods change, such that services and supports for low-income families are no longer available.  In such cases, low income families may choose to relocate to other low-income areas, including the suburbs. </p> 

<p>Indeed, between 2000 and 2015, suburbs, nationally, saw the number of residents living below the poverty line grow by 57%.  When moving to the suburbs, low-income residents face a number of challenges.  On average, residents in suburban neighborhoods can reach only 25% of urban jobs in a 90-minute commute.  Moreover, among suburban municipalities, more than half lack a food pantry, 61% have no substance abuse service providers, and 80% lack an employment services provider.  </p>

<p>As such, to address the negative gentrification effects of the urban housing crisis, the only solutions is for suburbs to evolve to provide the type of services to residents previously only available in cities.</p>
<%= render "sources/footer" %>
