<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Martins, E.K., & Solomon, S.V.  (2012). Corporate Job Growth, Wage Stagnation, and the Urban Housing Crisis. <i>Journal of Urban Geography</i>, 71(1), 15-28.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data were drawn from the Environmental Protection Agency’s Smart Location Database to track high-growth firms in consolidated metropolitan areas and commuter travel using geographic information systems (GIS) data.
</div>


<p>Among the causes of the urban housing crisis has been the changing landscape of urban areas. Downtowns are no longer dominated by government buildings and mom-and-pop shops.  Rather, lured by tax breaks and the need for an increasingly educated workforce, companies are relocating their large and sprawling headquarters from industrial parks in the suburbs to urban areas. </p>

<p>Besides Apple and Google in Silicon Valley and Amazon in Seattle, corporations are moving their headquarters to secondary industrial centers like Philadelphia, Denver, and Austin. While corporate relocation to urban areas has spurred economic growth and created more jobs, housing construction has not kept pace.  </p>

<p>For example, a report from the San Francisco Board of Managers found that from 2011 to 2017 San Francisco added 175,000 jobs but added fewer than 20,000 housing units. This gaps reflects not only a shortage of available housing, but also the slow pace of construction.  In 2017, only 4,441 units were added to the San Francisco housing stock; corresponding to roughly one additional home built for every 2.2 new residents who moved to the city since 2016.  </p>

<p>While any city would be pleased to have San Francisco's economy, corporate job growth outpacing housing supply is what has caused the urban housing crisis in American, such that the median home price is San Francisco is now over $1.6 million. </p>

<%= render "sources/footer" %>
