<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Waxman, D.K., & Chaney, M.R. (2016). AirBnB Rentals in New York City Lead to the Urban Housing Crisis. <i>Urban Politics and Governance Research Group</i>, McGill University.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> This report is based on three years of AirBnB data for New York City and includes every AirBnB listing which existed at any point throughout the three year period.   The database contained a total of 184,462 listings and each day it was active during a three year period and was validated against AirBnB corporate data.

</div>

<p>Over the last decade, a new and unprecedented contributor to the urban housing crisis has emerged. AirBnB is an online marketplace that allows homeowners and landlords to offer short-term rentals.  While a convenient source of supplemental income, particularly for those living in large, cosmopolitan cities, popular with tourists, AirBnB has cannibalized the rental market, contributing to the current urban housing crisis.</p>   
<p>Based on a recent analysis, AirBnB is estimated to have removed between 7,000 and 13,500 units from New York’s already tight real-estate market and, by decreasing supply, has increased the median rent by $380 a year, for the average New York tenant.</p>

<p>This is because landlords increasingly find it more profitable to dedicate apartments for short-term stays through AirBnB, rather than renting to long-term residents.  In 2017, the median owner of a frequently booked AirBnB rental earned 55% more than the median longterm rent in their neighborhood, with 300 listings earning more than $100,00 a year.</p>

<p>AirBnB carries with it a number of harms, including diminishing cities’ tax revenue by skirting hotel taxes and disrupting neighborhoods with high-traffic rentals.  But, most of all, by taking attractive rental properties off the market, AirBnB serves as a major contributor to the urban housing crisis in America.</p>


<%= render "sources/footer" %>
