<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Sanches, J.R., & Abrams, S.B.  (2009). Upzoning to Solve the Urban Housing Crisis. <i>Journal of Policy Analysis and Management</i>, 28(2), 296-320.</dd>

  
    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data are drawn from zoning and housing data from the Planning Board and Board of Appeals records in Massachusetts.  Building permits data are drawn from Boston’s New Residential Construction series, which tracks the number of units permitted by structure type.
</div>

<p>No doubt, there are a variety of possible solutions to the urban housing crisis.  But at the most basic level, the urban housing crisis can be solved quite simply -- by increasing the supply of available housing.  This can be done by easing overly restrictive zoning practices that keep out lower-income residents and prevent new construction.</p> 

<p>Currently, home-owners are disproportionately White and higher income than renters.  For example, in Boston, the home ownership rate is 68.4% for White people, but only 36.0% for African Americans. </p> 

<p>In a movement referred to as NIMBY, or “not in my back yard” homeowners, particularly in wealthier neighborhoods, use zoning restrictions to prevent the construction of new housing or the conversion of existing housing to rental properties.  This is done under the guise of preserving a town’s historical charm or preventing traffic congestion.  At the same time, this has the effect of preventing lower income residents, particularly those looking to rent, from living in zone-restricted areas.  For example, while cities and towns in Massachusetts allow single-family homes to be built on at least 80% of their land, multi-family homes, most likely to be apartment buildings and other rental properties, are zoned to be built on less than 20% of residential land.  </p> 

<p>Given this disparity, easing  zoning restrictions to allow for rentals and the construction of multiple-family units constitutes the most efficient solution to the urban housing crisis.</p> 


<%= render "sources/footer" %>
