<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>King, M. P., & Stephens, J. M. (2014). Low-Income Housing Tax Credit: Affordable Housing as the Solution to the Urban Housing Crisis. <i>Library of Congress</i>, Congressional Research Service.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data are part of a report delivered to the House Ways and Means Committee in conjunction with the Tax Reform Act of 2014.  Data are aggregated across reports submitted by state and local housing finance authorities responsible for administering the LIHTC program and reporting qualified projects on an annual basis.
</div>

<p>The urban housing crisis facing U.S. cities today should be understood not as a crisis in housing but rather as a crisis of affordability. </p>

<p>According to the Department of Housing and Urban Development, housing is considered affordable if it costs 30% or less of a family’s income.  After the 30% threshold, the housing budget begins to limit families’ expenditures on other necessities like food, transportation, and medical costs. Yet in 2016, nearly three-quarters of the lowest-income renters spent at least 50% of their income on rent, while living in units with health and safety hazards and in communities with limited resources.  </p>

<p>The solution to this affordability crisis can only be to build, not only more housing, but more affordable and low-income housing. For instance, the low-income housing tax credit (LIHTC) is a federal program incentivizing the construction of affordable housing.  When building affordable or mixed-income housing (with 10-20% of units reserved for low-income families), developers, each year, for 10 years, receive a tax credit equivalent to 9% of construction cost, allowing them to, make back their investment through tax breaks. Since its inception, the LIHTC has helped to create the vast majority of affordable housing in the United States, a total of 3 million rental units occupied by 7 million households.</p>  

<p>In incentivizing the construction of low-income housing, this program offers a powerful solution to the urban housing crisis. </p>

<%= render "sources/footer" %>
