<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Peters, M. L., &  Prince, T.K. (2018). Rent Matters: Can Rent Stabilization Measures Solve the Urban Housing Crisis. <i>Center for Environmental and Regional Equity</i>, University of Southern California.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data are from the U.S. Department of Housing and Urban Development which annually determines the  fair market rate (FRM) of rent in cities and municipalities around the United States.  Base rent is typically set to the 40th percentile in a given area and two bedroom rental units are used, since these are the most common and most reliable to survey.
</div>

<p>A manifestation of the current urban housing crisis in American can be understood as one of displacement.  Increasing housing costs and diminished housing supply serve to drive out low-income residents, forcing them to relocate.  The solution to the urban housing crisis can therefore only be to stabilize rents, protecting current residents from extreme increases in the cost of housing.  </p>

<p>Cities have done this in two primary ways.  First, they have put in place more robust tenants protections; for instance, landlords can no longer evict low-income tenants to rent units at a higher price and tenants are offered free legal aid to review claims.  Moreover, in Los Angeles’s tight rental market, if a tenant is evicted not for fault, landlords are required to pay tenants a fee between $8,050 and $20,050, with fees dependent on family size and length of tenancy. </p>

<p>Second, cities have adopted rent-control policies that slow the steep increase in housing costs to better keep pace with slow wage growth and inflation.  For example, in Los Angeles, increases in costs for rent-controlled units are capped at 3%.  As a result, a recent study found rent control to increase renters’ probabilities of staying at their addresses by nearly 20% and decreased evictions by 30%, stabilizing neighborhoods.  </p>

<p>With such promising results it is clear that rent control and tenant protections constitutes a promising and effective solution to the urban housing crisis. </p>

<%= render "sources/footer" %>
