<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Broad, M. J., & Rabbit, B. K. (2015). Young Adult Migration and the Urban Housing Crisis. <i>Bulletin of the School of Industrial and Labor Relations</i>, Cornell University Press.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data come from the American Community Survey, a nationally representative ongoing survey that produces annual estimates of socioeconomic, demographic, and housing characteristics at the national and subnational level. 
</div>

<p>
There are a variety of causes contributing to the urban housing crisis.  One of these is the influx of young people into urban areas, particularly on the coasts.  Young people move to cities for jobs and other economic opportunities as well as for the lifestyle benefits that cities afford, including easy access to restaurants, bars, and museums.  The effects of this influx of young people is to drastically increase demand for housing, driving housing prices up, beyond what the average worker is able to afford.</p>  

<p>
Analysis from the American Community Survey found that young adults, aged 18 to 34, have the highest rates of migration, as compared to other age groups. From 2010-2012, while young adults made up about 23.7% of the total U.S. population, they made up over 43% of all movers.  Moreover, the young adults migrating to urban areas, tend to be better educated and better employed than their less mobile counterparts.  Their increased levels of education and increased earnings mean that they specifically desire higher-end housing, including luxury condos and lofts.</p>  

<p>
This increased demand, overall, and demand for larger and more spacious, low-density housing contributes to increasingly steep housing prices and are the root cause of the urban housing crisis in America.</p>


<%= render "sources/footer" %>
