<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Kerner, B., & Judge, S. T.  (2007). Demographic Changes: Immigrants, Baby Boomers, and the Urban Housing Crisis. <i>Living Cities Policy Series</i>, Brookings Institution.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data come from U.S. Department of Homeland Security records, with data on immigrant entry, settlement, and enforcement, and from the Population Reference Bureau, which tracks generational trends in migration, health, and labor force participation. 
</div>

<p> America’s cities are experiencing population growth as never before.  This increased swell of city dwellers, and the associated increases in housing demands, are what contribute to the urban housing crisis in America.  </p>

<p> What is responsible for this increase in city residents?  According to the Migration Policy Institute, during the 1990s, some 9.1 million immigrants arrived legally in the United States, as compared to 4.5 million in the 1970s and 7.3 million in the 1980s.  This surge of immigrants has settled almost entirely in dense urban areas, with established ethnic enclaves and easy access to social services, like job centers and language classes.   </p>

<p> In addition to immigrants, retirees, 65 and older, make up 13% of the total U.S. population.  This number is only expected to grow as Baby Boomers age, with one in five people projected to be 65 or older by 2030.  Having amassed, on average, considerable wealth in their lifetimes, these older Americans are increasingly moving to urban areas for easy access to medical services, shopping, and other necessities.  </p>

<p> Both recent immigrants and wealthy retirees, while at different ends of the economic spectrum, jointly contribute to the increased demand for housing in urban areas.  The increased growth in both of these populations is what has led to the urban housing crisis today. </p>

<%= render "sources/footer" %>
