<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Source 2</dd>

    <dt>Author:</dt>
    <dd></dd>

    <dt>Publisher:</dt>
    <dd></dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Description:</b>
</div>

<p>
  Content HERE
</p>

<%= render "sources/footer" %>
