<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Citation:</dt>
    <dd>Maker, S.E. & Joans, R.T.  (2011). Inequality in the City: Unbalanced Development as a Cause of the Urban Housing Crisis. <i>Environment and Planning</i>, 43(5), 1154-1172.</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the data in this source", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Data Description:</b> Data are from a report submitted by the Chicago Transit Board on public transit utilization in the greater Chicago area, submitted to the Office of the Auditor General.  Report data were compared to transportation development plans and spending outlined in the Central Area Chicago Development Plan submitted by the Mayoral administration.  
</div>

<p>The causes of the urban housing crisis need to be understood hyper-locally, as occurring within specific neighborhoods in particular cities, rather than in cities as a whole.  Due to unbalanced development, cities shower some neighborhoods with resources, while other neighborhoods are neglected, resulting in vast differences in housing desirability only a few miles apart.  </p> 

<p>In 2009, the Chicago Transit Authority (CTA) undertook a $14 billion renovation of its public transit system.  The result was “the loop” that connected wealthy and predominantly White neighborhoods in Chicago’s downtown to luxury destinations, including O’Hare airport, Chicago Bears’ Soldier Field, and Millennium Park.  Outside of “the loop,” Chicago’s more impoverished South Side received no transportation improvements, because the cost was judged too high, relative to the benefits of new construction. This caused  poorer neighborhoods on the South Side to miss out on transportation improvements and to be  locked out of the economic opportunities available within “the loop.” </p> 

<p>Even worse, because of new construction, South Side residents now take 20% longer to get to work, while 22% of households do not have a vehicle available for personal use.  Due to budget shortfalls, the CTA has had to cut services, with 7 out of 10 express bus routes eliminated in Chicago’s predominately Black and Latino South Side. </p>  

<p>This type of unbalanced and inequitable development and distribution of resources, results in vast differences in housing demand in different neighborhoods, and is the primary cause of the urban housing crisis today.</p> 


<%= render "sources/footer" %>
