<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Author:</dt>
    <dd>@Ikhwanweb</dd>

    <dt>Publisher:</dt>
    <dd>Twitter</dd>

    <dt>Dates of Publication:</dt>
    <dd>February 14, 2014 – February 17, 2014</dd>

    <dt>Location:</dt>
    <dd>London, UK</dd>

    <dt>URL:</dt>
    <dd>https://twitter.com/Ikhwanweb</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
  @Ikhwanweb, Official English language Twitter account of the Muslim Brotherhood
</div>

<div class="well">
  Ibrahim Yehia Azab, #AntiCoup pharmacy student, will be executed Tuesday on trumped up charges without due process  
</div>

<div class="well">
  We hold ruling military regime fully responsible for the loss of innocent Egyptian lives; for failure to protect security and rule of law.
</div>

<div class="well">
  Military regime always rush,for pol reasons,to implicate MB in these crimes w/o a shred of evidence &amp; before any investigation is launched
</div>

<div class="well">
  Targeting of soldiers and/or civilians is heinous crime that requires thorough &amp; transparent investigation to bring perpetrators to justice
</div>

<div class="well">
  Muslim Brotherhood Statement Marking the #IWD2014: Egyptian Women Suffer Inhuman Coup Crimes
</div>

<div class="well">
  Students protests erupt across university campuses calling for freedom, democracy &amp; end to oppressive military rule
</div>

<div class="well">
  Brutality, torture, rape: Egypt's crisis will continue until military rule is dismantled
</div>

<div class="well">
  Human Rights Activist Khaled Hamza Detained at Unknown Location by Coup Forces
</div>

<div class="well">
  Muslim Brotherhood strongly condemn killing of a police sergeant in Mansoura Fri, reaffirm unequivocal rejection of all forms of violence
</div>

<div class="well">
  @EgyAntiCoup: BREAKING: Abdelrahman Mosadaq,16, killed by a live bullet to the neck after police opened fire at a protest in Alexandria"
</div>

<div class="well">
  How did 37 prisoners come to die at Cairo prison Abu Zaabal?
</div>

<div class="well">
  Statement: Muslim Brotherhood Believes in Popular Will, Democracy, Despite Junta Attempts to Eradicate Group
</div>

<div class="well">
  Human Rights Monitor Condemns Violence Against Women Opposed to the Coup in Egypt 
</div>

<div class="well">
  Two Egyptians killed, tens injured as a result of police attacks on peaceful #AntiCoup protests throughout the country Friday 
</div>

<div class="well">
  Massive #AntiCoup protest in Matariya.Worth mentioning that scores were killed in Matariya on #Jan25. 
</div>

<div class="well">
  Thank u to @mosaaberizing &amp; all photojournalists for documenting the massacre so we don't forget this day 
</div>

<div class="well">
  #AntiCoup protests continue across Egypt, calling for freedom, and an end to authoritarianism and military rule 
</div>

<div class="well">
  Illegal and inhumane conditions of anti- coup detainees in El- Akrab jail. #Egypt #AntiCoup #Human_Rights
</div>

<div class="well">
  PR campaign to undermine #Anticoup movement,force opposition to accept the Generals' roadmap rejected by marjority of Egyptians 
</div>

<div class="well">
  @EduardCousin Yes. it's untrue. Our position is clear; Morsi is the legitimate prez of Egypt, military must not have any role in politics
</div>

<div class="well">
  @TheCairoPost You keep posting false news about us, but this one is outrageous. Please verify before you publish
</div>
