<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
  
    <dt>Title:</dt>
    <dd>Empower Women for the Health of the Planet</dd>
  
    <dt>Author:</dt>
    <dd>Carmen Barroso</dd>

    <dt>Publisher:</dt>
    <dd>BBC World</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Carmen Barroso is the Director of International Planned Parenthood Federation in the Western Hemisphere.
</div>

<p>
We cannot deny the intertwined nature of environmental and reproductive justice, or the influence reproductive justice has on the quality of life of women and families and on the sustainable health of the entire planet.
</p>

<p>
When a woman is able to decide if and when to have children and how many, life-changing events happen: She goes further in school, is empowered as a decision-maker in her household, and is more adaptable and resilient during times of hardship, including those brought on by the challenges of overpopulation. 
</p>

<p>
Scientists estimate that providing voluntary family planning for women who want it could provide up to 29 percent of needed reductions in carbon emissions.  Providing family planning services to women is one of the most effective ways to reduce unintended pregnancies and curb overpopulation: The Institute for Population Studies estimates that closing the gap on access to contraception would reduce the number of unwanted pregnancies by 70 percent.  
</p>

<p>
Access to family planning pays dividends across generations.  Women with access to contraception, have daughters who have fewer children, receive more schooling, and earn more money, further stemming the tide of overpopulation.
</p>

<p>
Despite these benefits, the international community has been slow to prioritize investments in the sexual and reproductive health services that would help millions of women achieve a better quality of life at their own choosing. The bottom line is that we cannot create a sustainable world unless we empower women to control their own bodies and give them the tools they need to do so. 
</p>
