<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    
    <dt>Title:</dt>
    <dd>A Universal Basic Income is Unaffordable</dd>
    
    <dt>Author:</dt>
    <dd>Lawrence Katz</dd>
    
     <dt>Document Type:</dt>
    <dd>Analysis Essay</dd>

    <dt>Publisher:</dt>
    <dd>Harvard University Press</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Dr. Lawrence Katz is the Elisabeth Allison Professor of Economics at Harvard University.
</div>

<p>
Despite the appeal of a universal basic income, it is in no way a financially feasible policy.  Let’s do the math.  Writing a check for $10,000 to each of 300 million Americans would cost the federal government more than $3 trillion a year (Tax Policy Center, 2016).  While totaling almost the entire federal budget in 2015, this income level would still be below the $11,880 federal poverty line for single individuals.  
</p>

<p>
At the same time, the government would still need to pay for costly expenditures that cannot be eliminated, even with the introduction of a UBI.  This would include military and defense spending (16% of the federal budget), funding for research and education (5%), and interest payments on the federal debt (6%) (Office of Management and Budget, 2015).  A UBI would not even eliminate the full cost of providing social service programs, as many of the most vulnerable individuals in our society (i.e., minors, elderly, individuals who are mentally ill or disabled) require services and cannot just be handed a check. 
</p>

<p>
Prioritizing the creation of a universal basic income would divert limited resources away from important federal programs, like infrastructure spending and natural resource conservation.  These programs, benefitting everybody, would be sacrificed in favor of individually targeted funding allocations.  But when directly transferred to individuals, money has a much more limited social impact, than when it is pooled together through federal spending.  
</p>

<p>
To afford a universal basic income, the government would need to raise taxes significantly – practically doubling them.  At the same time, Americans have been found to be fairly intolerant to any increase to their federal tax rate.  It is hard to imagine circumstances under which such a drastic increase would ever be politically or pragmatically feasible. 
</p>

<p>
As such, while the provision of a universal basic income may be an economically viable policy in poor countries, with low standards of living, providing a livable basic income to citizens of wealthy nations is impossible, financially. 
</p>
