<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    
    <dt>Title:</dt>
    <dd>Gifted Education is a Gift for Teachers</dd>
    
    <dt>Author:</dt>
    <dd>Susan Moore</dd>
    
     <dt>Document Type:</dt>
    <dd>Reader-generated comment</dd>

    <dt>Publisher:</dt>
    <dd>Reader Comments in the New York Times</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Susan Moore has been a teacher at Lakeside Elementary School in Concord, Massachusetts for over a decade. 
</div>

<p>
As someone who teaches an integrated, mixed abilities class, I have to say the experience has been incredibly challenging and disappointing. It is very difficult to keep the sustained attention of over 30 children with many different abilities and behavioral characteristics. In my 4th grade class alone I have very bright children, many average performing students, 4-5 children with attention deficit disorder, and a few children who are fundamentally lacking in basic skills.  
</p>

<p>
Creating diagnostics for each unit, and then creating individual curricula for each group of students is beyond daunting. I don’t see the below average kids rising to the level of the bright kids. Instead, what I tend to see is the opposite -- the bright kids are bored to death and the struggling students become more and more discouraged.
</p>

<p>
Every child has a right to a good education and an education cannot be good if a student is not taught at an appropriate pace, with appropriately challenging material.  While some affluent parents can afford to send their gifted children to private schools with individualized attention, many parents cannot.  Getting rid of gifted programs in public schools will, most of all, hurt low income, high ability students.  Gifted programs provide these students with vital enrichment opportunities that allow them to thrive and receive resources that they would not at home. 
</p>

<p>
Today’s public schools universally have large class sizes and limited resources.  Under these conditions, it’s unrealistic and unfair to ask teachers to accommodate and equalize the experiences of drastically different learners in their classroom.  
</p>
