<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    
    <dt>Title:</dt>
    <dd>Gifted Education is a Gift for Teachers</dd>
    
    <dt>Author:</dt>
    <dd>Susan Moore</dd>
    
     <dt>Document Type:</dt>
    <dd>Use-generated comment</dd>

    <dt>Publisher:</dt>
    <dd>Comments in the New York Times</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
 Alfred Binet was a Researcher and Associate Director of the Laboratory of Experimental Psychology at Sorbonne University
</div>

<p>
The first successful test of intelligence was developed by French psychologist Alfred Binet in response to a request by French public school officials for a test that could identify school children at risk of falling behind their peers in academic achievement. The result was the Binet-Simon intelligence test.
</p>

<p>
The Binet-Simon test consists of a variety of items intended to reflect knowledge and skills the average French school child of a given age would have. These items are graded in difficulty according to age, so that, for example, items the average twelve-year-old would be able to answer, a younger child would tend to miss.
</p>

<p>
The scoring of the test produces a number called the child's mental age. The mental age reflects the level at which the child performed on the test -- if the child performed at the level of the average ten-year-old, for example, then the child would be assigned a mental age of ten, regardless of the child's chronological age (physical age). 
</p>

<p>
One compares the child's mental age to his or her chronological age. If the mental age is the same as the chronological age, then the child is average. If the mental age is higher than the chronological age, then the child is mentally "advanced" or gifted. If the mental age is lower than the chronological age, then the child is mentally "retarded," or behind his or her peers in intellectual development.
</p>

<p>
After World War II, Lewis Terman of Stanford University translated the Binet-Simon test into English, adapted it to the American culture and school curriculum, and called it the Stanford-Binet. This test is still in use today, although it has undergone periodic revision over the years.
</p>

<p>
Initially the scores were reported in terms of Mental Age, just as in the original. Later, mental age and chronological age were used to compute a new metric called the Intelligence Quotient, or I.Q. This was computed using what is now called the ratio method, which involves plugging the numbers into the following formula:
</p>

<p>
<strong>(Mental Age/Chronological Age) * 100 = I.Q.</strong>
</p>

<p>
No matter what the child's chronological age, if the mental age matches the chronological age, then the I.Q. will equal 100. An I.Q. of 100 thus indicates a child of average intellectual development. If the mental age is above the chronological age (a more gifted than average child), then the I.Q. is above 100; if the mental age is below the chronological age (a developmentally retarded child), then the I.Q. is below 100.
</p>
