<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    
    <dt>Title:</dt>
    <dd>Legalizing Sex Work Promotes Public Health</dd>
    
    <dt>Author:</dt>
    <dd>Randall Todd, Dr.P.H.</dd>

    <dt>Publisher:</dt>
    <dd>Nevada Department of Health</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <b>Author Information:</b>
Randall Todd is Chief Epidemiologist of the Nevada State Health Division where he provides oversight over a number of programs focused on the health of families, women, and children including Rape Prevention and Education, Early Childhood Home Visits, and Child and Adolescent Health.
</div>

<p>
  Prostitution is a reality and eliminating prostitution is an unrealistic public policy proposal.  Our only choice is to make sex work as safe as possible, as we do with any other profession.  Legalizing prostitution allows for its regulation and creates a safe environment for sex workers and clients alike.
</p>

<p>
  Illegal prostitution poses a serious threat to public health.  In an interview study, U.S. women in prostitution reported the following: 47% stated that men expected sex without a condom; 73% reported that men offered to pay more for sex without a condom; 45% of women said they were abused if they insisted that men use condoms (Alexander & Fields, 2001).  Low rates of condom use, particularly among those with multiple partners, is the leading cause of sexually transmitted infection (STI) transmission.  Regulating sex work is necessary to require condom use, as is the standard in the legal pornography industry.
</p>

<p>
  According to current evidence from public health agencies, roughly half of the street prostitutes in Washington, D.C., and New York City are HIV-positive.  Yet, in the relatively 'free market' of Nevada, where prostitution is legal, not one (as of 1989) of the sex workers in state-licensed brothels has ever tested positive for AIDS. 
</p>

<p>
  Criminalizing prostitution not only increases the spread of STIs, it also deters treatment.  Sex workers infected with STIs fear prosecution and therefore fail to seek out timely medical care.  This increases the likelihood that even highly treatable STIs, like Gonorrhea, will be spread among sex workers and client populations.  If prostitution is legalized, sex workers and their clients will be required to engage in regular screening for sexually transmitted infections and brothels can be held responsible for ensuring worker health and safety. 
</p>

<p>
  Modelling studies from the World Health Organization indicate that decriminalizing sex work could lead to a 46% reduction in new HIV infections in sex workers over 10 years.  As such, decriminalization is both a public health issue and a moral issue, since no one should be sentenced to suffer a potentially fatal illness just because of their chosen profession. 
</p>
