<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>2013 Egyptian coup d’état</dd>

    <dt>Selected Editors:</dt>
    <dd>Omar Othman 95, Greyshark09, and Alhanuty</dd>

    <dt>Publisher:</dt>
    <dd>Wikipedia</dd>

    <dt>Last Modified:</dt>
    <dd>February 19, 2014</dd>

    <dt>URL:</dt>
    <dd>http://en.wikipedia.org/wiki/2013_Egyptian_coup_d'%C3%A9tat</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Editor Information:</b>
  </p>
  <p>
    Omar Othman 95:I am Omar Othman, an Egyptian high school student from Cairo, Egypt.
  </p>

  <p>
    GreyShark09: This user has created 182 articles.  This user is Mediterranean.
  </p>

  <p>
    Alhanuty: This user was born and lives in the United States of America.  This user is of Egyptian ancestry.  This user is a member of WikiProject Egypt.
  </p>
</div>

<p>
  On July 3, 2013, the Egyptian army chief General el-Sisi removed the country's then-incumbent president Mohamed Morsi from power and suspended the Egyptian constitution. The move came after four days of mass revolt and it also came 48 hours following a warning from the army to respond to the demands of the millions of protesters or it would intervene to restore order and impose its own roadmap. Al-Sisi declared Chief Justice of the Supreme Constitutional Court of Egypt Mansouras the interim president of Egypt.  Morsi was put under house arrest and several Muslim Brotherhood leaders were arrested. The announcement was followed by demonstrations and clashes between supporters and opponents of the move throughout Egypt. The announcement was followed by a statement in support of the military's action by the Grand Sheikh of Al Azhar Ahmed el-Tayeb, the Coptic Orthodox Pope Tawadros II as well as opposition leader Mohamed El Baradei.
</p>

<p>
  There were mixed international reactions to the events.  Most Arab leaders were generally supportive or neutral, with the exception of Qatar and Tunisia who strongly condemned the military's actions. Other states either condemned or expressed concern over the removal of Morsi; there was also a perceived measured response from the United States. Because Egypt had an interruption of constitutional rule, Egypt was suspended from the African Union.  There has also been debate in the media regarding the labeling of these events. It has been variously described as a coup d'état or as a revolution, by proponents. Ensuing protests in favour of Morsi were violently suppressed with the dispersal of pro-Morsi sit-ins on August 14, amid ongoing unrest.
</p>

<p>
  The removal of Morsi from office by the military was a result of a coup d'état following protests, that were instigated by frustration with Morsi's year-long rule.  Issues that might have lead to the removal of Morsi by the army include:
</p>

<ul>
  <li>
    Morsi issuing a constitutional declaration that made all of his decisions binding and unable to be appealed until the constitution was approved and a new People's Assembly elected. This was later abrogated due to multiple protests and the public's anger. 
  </li>

  <li>
    Muslim Brotherhood using their majority to pass a hotly disputed constitution. Though the constitution was approved by 64% of Egyptians, only about 30% of Egyptians with voting rights participated in the referendum process.  Secular and Liberal Party members and church representatives withdrew from the constitutional committee. 
  </li>

  <li>
    Power, gas and economic crises.
  </li>

  <li>
    Diplomatic problems including construction of an Ethiopian dam along the Nile River, affecting Egypt's share of water.
  </li>

  <li>
    Security of the state worsened; two of the most prominent stories related to security under Morsi were: the murder of 16 border guards in Sinai and the abduction of 7 Egyptian security personnel who were later released.
  </li>

  <li>
    Egyptian Army’s economic interests. These include foreign partnerships related to maritime and air transport, oil and gas and industrial-scale environmental projects such as wastewater treatment and energy generation. Modern economic development has always threatened the military’s economic position. 
  </li>
</ul>
