<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>More Efficient Food Production</dd>

    <dt>Author:</dt>
    <dd>Jason Clay</dd>

    <dt>Publisher:</dt>
    <dd>Foreign Affairs</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Author Credentials:</b>
  </p>
  <p>
Jason Clay is a senior vice president at the World Wildlife Fund and an expert in global markets and natural resources management. He is the author of “World Agriculture and the Environment.”
  </p>
</div>

<p>
The new United Nations projection shows a troubling trend of increased population and rising consumption on a planet with finite resources. If we continue with business as usual, by 2100 we will need three planet Earths to support human activities.
</p>

<p>
We currently use 33 percent of the Earth’s surface for food and we continue to expand the food production frontier each year. At the current rate of habitat loss, after 40 years, we will have “eaten” nearly all of the natural habitat on the planet. 
</p>

<p>
As the demand for food rises, both producers and the food industry will have to share the burden of increasing the supply while preserving the environment. By creating business-to-business demand for sustainably produced food, we can help producers raise production in a responsible way.
</p>

<p>
We’re seeing major food brands demanding greater sustainability through increased productivity, efficiency, and the elimination of waste. By working closely with their supply chain partners, they can do it. For example, 18 companies in the Consumer Goods Forum publicly committed to eliminate deforestation by their producer partners by 2020.
</p>

<p>
These companies are convinced they must meet increased demand without deforestation. There are a host of other global programs with sustainability standards to measurably reduce the impacts of producing food. Meeting these standards can result in better business and environmental performance.
</p>

<p>
With rising per capita consumption, by 2100 we’ll need to produce an amount of food that is 2.5 times the amount that all human societies have produced in the last 8,000 years. However, by convincing global companies to maximize efficiencies in their supply chain producers, this challenge can be met.
</p>
