<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>A Universal Basic Income Takes from the Poor, Gives to the Rich</dd>

    <dt>Author:</dt>
    <dd>Allan Krueger</dd>

    <dt>Document Type:</dt>
    <dd>Research Report</dd>
    
    <dt>Publisher:</dt>
    <dd>National Bureau of Economic Research </dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Author Credentials:</b>
  </p>
  <p>
    Allan Krueger is Chief Economist at the National Bureau of Economic Research and the Director of the Project on the Well-Being of Children   
  </p>
</div>


<p>
  A universal basic income would take money away from the neediest in our society through an inefficient and ineffective allocation of resources.  
</p>

<p>
  Right now, the government provides benefits to those who need them the most; specifically, to the 43.1 million Americans (13.5%) living below the poverty line (Center for Poverty Research, 2015).  In doing so, we direct resources to where we believe they would have the most impact: subsidizing housing, nutrition, and early childhood education.  
</p>

<p>
 A UBI would do-away with means-tested programs, targeting individuals in poverty, and instead would provide benefits equally to everyone in society.  While equal, this allocation of resources is by no means equitable.  It is prohibitively costly and senseless for the government to subsidize already very wealthy individuals. With a UBI, the government would provide the same support to individuals earning below the federal poverty line of $11,880 as they would to individuals earning more than $418,400 a year, the highest income tax bracket (Columbia Center on Budget and Policy Priorities, 2014). 
</p>

<p>
 Essentially, a UBI would take money away from programs directed exclusively toward the poor and redirect money to all individuals, divorcing assistance from need. 
</p>

<p>
There is good reason to want a targeted distribution of resources.  A family who has a child with disabilities or someone with a chronic illness should rightfully receive a higher level of support than do others. When we begin to make decisions about the different levels of support that individuals should receive, we move away from a UBI to the comprehensive set of social service programs currently in place.  
</p>

<p>
A UBI aims to replace not only social service programs but hard-won worker benefits as well.  These include job training programs, workmen’s’ compensation, and unemployment insurance.  The logic being, why should there be a federally guaranteed minimum wage or unemployment insurance if individuals are free to just not work at all?  As such, instituting a UBI would erode worker protections and reduce the quality and safety of the American workplace.
</p>
