<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Sex Workers Have a Right to Labor</dd>

    <dt>Author:</dt>
    <dd>CBarbara G. Brents, Ph.D.</dd>
    
    <dt>Publisher:</dt>
    <dd>Princeton University Press</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Author Credentials:</b>
  </p>
  <p>
    Barbara G. Brents is a professor in the Department of Sociology at the University of Nevada, Las Vegas. She is a co-author, with Crystal Jackson and Kathryn Hausbeck, of “The State of Sex: Tourism Sex, and Sin in the New American Heartland,” a study of Nevada's legal brothel industry.
  </p>
</div>

<p>
  In the rural counties outside of Las Vegas, Nevada, about 500 women work as legal independent contractors in just under 30 brothels. Colleagues and I at the University of Nevada, Las Vegas have been conducting research in these brothels for more than 15 years.
</p>

<p>
  In legal brothels, employees report that they feel safe, are free to come and go, and are bound only by their contract.  Of the brothel workers we surveyed, 84 per cent said that their job felt safe. Workers report that they felt safe largely because the police, employers and co-workers were there to protect them.
</p>

<p>
  Our research found that women came to the legal brothels from a wide variety of situations. Some were supplementing low paying service jobs. Some were escaping the hustle and danger illegal sex work. Some were looking for ways to supplement their erotic dancing or film careers. 
</p>

<p>
  Many women reported that brothels allowed them the flexibility in work conditions to care for their family or to pursue further education, all while earning a steady paycheck.  These types of benefits and flexibility are especially important for low-income women with few other options for quality employment. 
</p>

<p>
  Some had pimps. Most did not. One woman told us that the brothel allowed her to sever ties with an abusive pimp. Most importantly, in all our research, we found no evidence of trafficking in the legal brothels.
</p>

<p>
  There is certainly room for improvement, particularly in enforcing differences between independent contractors and employees. But, women flock to the brothels with the best working conditions, putting pressure on more exploitative managers. Just like in any job, workers with more education and resources were better able to protect their rights.
</p>

<p>
  With concern growing about sex trafficking, the conclusions of our research are striking. As hard as it may be with something this controversial, perhaps as a matter of good public policy, it is time we pay attention to the evidence and rethink our approach to this age-old profession.  It’s time we recognize sex work not as a social ill but as an economic opportunity for women and their families. 
</p>
