<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Who is gifted? Gifted Identification Randomly Segregates Students</dd>

    <dt>Author:</dt>
    <dd>Carol Fisher</dd>

    <dt>Document Type:</dt>
    <dd>Forum Post</dd>
    
    <dt>Publisher:</dt>
    <dd>National Association for Gifted Education Parent Forum</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Author Credentials:</b>
  </p>
  <p>
    Carol Fisher is a parent of a dyslexic, gifted student and an education advocate. 
  </p>
</div>

<p>
In elementary school, IQ testing for gifted placement occurs when children are as young as four years old.  Such IQ scores may not be stable and may change as students move through school  Testing students at such a young age for a decision that dictates their educational future seems ridiculous. 
</p>

<p>
Entry into gifted and talented programs is often based on a percentile cut-off. Is there a real difference between students in the 89th and 92nd percentile in terms of ability?  When we label students as gifted, they are stigmatized and learn that some students have innate “high abilities” while others do not.  
</p>

<p>
This stigma is particularly damaging for students who have learning disabilities or are English language learners.  These students may be very smart but may struggle with basic skills and not test well.  
</p>

<p>
For example, my son’s experience in K-2 was a living nightmare. The school never diagnosed his dyslexia. Instead my son was labeled as dumb, lazy, and not into academics.  Now he is in the top 90% of the country for fifth graders in math, science, and history on his SAT-10.  Clearly the system is totally broken and working for only a few students.
</p>

<p>
Remember that some of our most gifted artists, scientists, and inventors were not considered “gifted” in school.  Thomas Edison, Steven Spielberg, and even Albert Einstein struggled in school. 
</p>

<p>
Remember that some of our most gifted artists, scientists, and inventors were not considered “gifted” in school.  Thomas Edison, Steven Spielberg, and even Albert Einstein struggled in school. 
</p>
