<div class="alert alert-info source_info display-none">
  <dl class="dl-horizontal no-bottom">
    <dt>Title:</dt>
    <dd>Mindset: Is intelligence fixed or malleable?</dd>

    <dt>Author:</dt>
    <dd>Carol Dweck</dd>

    <dt>Publisher:</dt>
    <dd>American Psychological Association</dd>

    <dt>Last Modified:</dt>
    <dd>1988</dd>

    <dt>URL:</dt>
    <dd>http://www.apa.org/research/action/smarter.aspx</dd>

    <dd>
      <br>
      <%= link_to "Click here to learn more about the author", nil, :class => "btn btn-default btn-sm more_author_info" %>
    </dd>
  </dl>
</div>

<div class="alert alert-warning author_info display-none">
  <p>
   <b>Author Credentials:</b>
  </p>
  <p>
    Carol Dwech is the Eaton Professor of Psychology at Stanford University
  </p>
</div>

<p>
 Carol Dweck and her associates have for many years investigated what people believe about themselves and how this affects their motivation, and their ability to accomplish tasks, achieve goals, and function successfully in life. 
</p>

<p>
  She proposes, that people tend to have two extremes of belief about themselves, that are the key to their effectiveness or ineffectiveness. One extreme is of a self that is an unchanging entity and the other extreme is of a self that is constantly changing in varying increments. 
</p>

<p>
  Dweck asserts that one theory is highly adaptive for the human condition (the theory of an incremental changing self) while the other is maladaptive for the human condition (the theory of a self that is an unchanging entity). These self theories can be termed respectively a <strong>growth mindset</strong> and a <strong>fixed mindset.</strong>
</p>

<p>
  Curiously, this applies regardless of whether the motivation is intrinsic or extrinsic. Although, as we shall see, people with an extrinsic orientation tends to also have a fixed mindset, and people who have an intrinsic orientation tend also to have a growth mindset.
</p>

<p>
  Carol Dweck tested a sample of people over time who were quite diverse, from preschoolers to people of university age. She found that while people may vary greatly as to how much they are inclined toward a fixed theory or a growth theory, roughly 40% seemed more inclined toward a growth theory and 40% seemed more inclined toward a fixed theory. The other 20% were undecided. 
</p>
