<h1 class="no-top">Consent Form</h1>

<br>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td><span class="one-line">Project Title</span></td>
      <td>
        Source Evaluation Prior To, During, and Following a Multiple Source Use Task
      </td>
    </tr>

    <tr>
      <td>Why is this research being done?</td>
      <td>
        <p>
          This is a research project being conducted by researchers at the University of Maryland, College Park, USA. 
          We are inviting you to participate in this research project because you are an undergraduate or graduate 
          student in university.
        </p>

        <p>
          Technological advances have brought about vast changes in the worlds of information and communication in 
          recent years. Students growing up immersed in a high-speed, trend-conscious, constantly-connected 
          culture may have experienced a consequent shift in their understandings of the interrelated constructs of 
          knowledge, information, and truth. The purpose of this research project is to investigate this possible shift, 
          by taking the initial step of inquiring about students' understandings of these constructs.
        </p>
      </td>
    </tr>

    <tr>
      <td>What will I be asked to do?</td>
      <td>
        <p>
          The procedures involve completing a series of three measures in a computer-based environment that 
          supports a simulated online (i.e., world wide web) search task.
        </p>

        <p>All data collected will be stored on a secure external server.</p>

        <p>First, you will complete this consent form.</p>

        <p>
          Next, you will conduct research on a prompt using a library of multiple academic sources. You will then be 
          asked to compose your response to the prompt. 
        </p>

        <p>
          Finally, you will be asked about each source you used in researching your response. 
        </p>

        <p>
          Completion of all measures is expected to take approximately 35 minutes. During this task, data will be 
          collected including: source accessed, duration of access, and source evaluation.
        </p>
      </td>
    </tr>

    <tr>
      <td>What about confidentiality?</td>
      <td>
        <p>
          We will do our best to keep your personal information confidential. To help protect your confidentiality, (1) 
          your name will not be included on the surveys and other collected data; (2) a code will be placed on all 
          collected data; (3) through the use of an identification key, the researcher will be able to link your survey to 
          your identity; and (4) only the researcher will have access to the identification key. For open-ended 
          responses, only brief quotations will be used, if at all, and care will be taken not to reveal your identity 
          through the use of quotes. These steps ensure that participants' personal information will not be associated 
          with the collected data.
        </p>

        <p>
          Access to these data will be limited to: the student investigators (doctoral students in the Disciplined 
          Reading and Learning Research Lab), and the primary investigator (a tenured full professor in the 
          Department of Human Development). These graduate students are instructed as to the ethical nature of 
          data collections and the importance of maintaining the confidentiality of study participants. 
        </p>

        <p>
          If we write a report or article about this research project, your identity will be protected to the maximum 
          extent possible. Your information may be shared with representatives of the University of Maryland, College 
          Park or governmental authorities if you or someone else is in danger or if we are required to do so by US 
          law.
        </p>

        <p>
          In accordance with legal requirements and/or professional standards, we will disclose to the appropriate 
          individuals and/or authorities information that comes to our attention concerning child abuse or neglect or 
          potential harm to you or others. 
        </p>
      </td>
    </tr>

    <tr>
      <td>What are the risks of this research?</td>
      <td>
        <p>
          There may be some risks from participating in this research study. Specifically, completion of the measures 
          requires cognitive effort for a sustained period of time and may generate frustration in some students. 
        </p>
      </td>
    </tr>

    <tr>
      <td>What are the benefits of this research?</td>
      <td>
        <p>
          This research is not designed to help you personally, but the results may help the investigator learn more 
          about how students find and understand information about topics in the news. We hope that, in the future, 
          other people might benefit from this study through improved understanding of students' research skills and 
          strategies. 
        </p>
      </td>
    </tr>

    <tr>
      <td>Do I have to be in this research? May I stop participating at any time? </td>
      <td>
        <p>
          Your participation in this research is completely voluntary. You may choose not to take part at all. If you 
          decide to participate in this research, you may stop participating at any time. If you decide not to 
          participate in this study or if you stop participating at any time, you will not be penalized or lose any 
          benefits to which you otherwise qualify. 
        </p>
      </td>
    </tr>

    <tr>
      <td><span class="one-line">What if I have questions?</span></td>
      <td>
        <p>
          This research is being conducted by Dr. Patricia Alexander and the Human Development department at the 
          University of Maryland, College Park. If you have any questions about the research study itself, please 
          contact Dr. Alexander at: Disciplined Reading and Learning Research Lab, Room 3240 Benjamin Building, 
          Department of Human Development, University of Maryland, College Park, MD 20742, USA), by telephone at 
          (301) 405-6956, or by email at palexand@umd.edu. If you have questions about your rights as a research 
          subject or wish to report a research-related injury, please contact: Institutional Review Board Office, 
          University of Maryland, College Park, Maryland, 20742, USA; (e-mail) irb@deans.umd.edu; (telephone) 301-
          405-0678 
        </p>

        <p>
          This research has been reviewed according to the University of Maryland, College Park IRB procedures for 
          research involving human subjects. 
        </p>
      </td>
    </tr>

    <tr>
      <td>Statement of Age of Subject and Consent</td>
      <td>
        <p>
          Please enter your name below to provide your consent. Your consent indicates that: you are at least 18 
          years of age; the research has been explained to you; your questions have been fully answered; and you 
          freely and voluntarily choose to participate in this research project. 
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'form' %>
