<h1 class="no-top">Consent Form</h1>

<br>

<table class="table table-bordered table-striped">
  <tbody>

    <tr>
      <td>
        <p>
          Please enter your name below. If you are completing this study for extra credit, please enter your instructor name below.  If you are not completing this study for extra credit, please write "Payment." 
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'form' %>
