<div class="mm_line">
  Very little <strong>|
  <% for i in 0..num %>
    <%= content_tag :span, :data => { :value => i * 100/num }, :class => "hover_to_x" do %>
      .
    <% end %>
  <% end %>
  |</strong> A lot
</div>
<br>
