<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <p>
     You will be asked to complete the following assignment:   
    </p>

    <div class="alert alert-success">
      <h4 class="no-bottom">
       Write an argument about the threats of overpopulation and how these may be most effectively addressed.
      </h4>
    </div>

    <div class="well">
      <h4>Directions:</h4>

      <p>
      Please use the information sources provided to research the <strong>threats and solutions to overpopulation</strong>.
      </p>
      
      <p>
      You will be asked to write an argument about which threats from overpopulation you consider to be most pressing and how these may be most effectively addressed.
      </p>

      <p>
        On the next page you will find a <strong>source library</strong> you can use to research overpopulation.
      </p>

      <ol>
        <li>You can use any of the sources in the library.  You can take as much time as you need.</li>
        <li>As you research, take notes.</li>
        <li>When writing your argument, you will be able to use your notes <strong>but will not be able to access any of the sources in the library.</strong></li>
        <li>Use at least two sources in writing your argument.</li>
      </ol>
    </div>

    <%= link_to "Continue", library_path, :class => "btn btn-success" %>
  </div><!-- .col-sm-12 col-md-6 -->
</div><!-- .row -->
