<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <p>
      In this study, you will be asked to provide a response to the following prompt:     
    </p>

    <div class="alert alert-success">
      <h4 class="no-bottom">
        Should the United States support General el Sisi and the military regime 
        currently in power in Egypt or Mohamed Morsi and Muslim Brotherhood protestors?
      </h4>
    </div>

    <div class="well">
      <h4>Directions:</h4>

      <p>
      
      <ul>
        <li>Please answer as you would if assigned to write a brief essay in response to the prompt for an academic class.</li>
        <li>In responding to the prompt you will be asked to <strong>take a position</strong> (i.e., in support of Mohamed Morsi or General el Sisi) as well as to <strong>provide specific evidence to support your response.</strong></li>
     </ul>
      </p>

      <p>
        On the next page you will find a <strong>source library</strong> you can use to research information to help you in responding to the prompt.
      </p>

      <ol>
        <li>You can use any of the sources in the library.  You can take as much time as you need.</li>
        <li>As you research, take notes in the open Word document or on the paper provided.</li>
        <li>In composing your response, you will be able to use your notes <strong>but will not be able to access any of the sources in the library.</strong></li>
        <li>Use at least two sources in composing your response.</li>
      </ol>
    </div>

    <%= link_to "Continue", library_path, :class => "btn btn-success" %>
  </div><!-- .col-sm-12 col-md-6 -->
</div><!-- .row -->
