<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <p>
     You will be asked to use the information provided to write a response to the following prompt:     
    </p>

    <div class="alert alert-success">
      <h4 class="no-bottom">
        Write an argument explaining whether or not your elementary school should have a <strong>gifted and talented program.</strong>  
        <p>
        <p>
        In researching information for your argument, please consider <strong>where the informtaion you're using comes from</strong> and <strong>who wrote it and why.</strong> 
      </h4>
    </div>

    <div class="well">
      <h4>Directions:</h4>

      <p>
      Please use the information sources provided to research the benefits and drawbacks of <strong>gifted and talented programs.</strong>
      </p>
      
      <p>
      As you research, please consider <strong>where the information you're using comes from</strong> and <strong>who wrote it and why.</strong>
      </p>

      <p>
        On the next page you will find a <strong>source library</strong> you can use to research the benfits and drawbacks of gifted and talented programs.
      </p>

      <ol>
        <li>You can take as much time as you need.</li>
        <li>As you research, take notes.  In composing your response, you will be able to use your notes <strong>but will not be able to access any of the sources in the library.</strong></li>
        <li>Use information from the library sources in composing your response.</li>
        <li>Please do not use the back button.</li>
      </ol>
    </div>

    <%= link_to "Continue", library_path, :class => "btn btn-success" %>
  </div><!-- .col-sm-12 col-md-6 -->
</div><!-- .row -->
