<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <p>
     In this study, you will be asked to use a source library to write a research report about the following prompt:
    </p>

    <div class="alert alert-success">
      <h4 class="no-bottom">
        <% if @participant.id % 2 == 0 %>
        Write a research report for policy makers about the <u>causes</u> of the urban housing crisis.
        <% else %>
        Write a research report for policy makers about the <u>solutions</u> to the urban housing crisis.
        <% end %>
      </h4>
    </div>

    <div class="well">
      <h4>Directions:</h4>

       <p>
        On the next page you will find a <strong>source library.</strong>
      </p>

      <p>
      Please use the information provided to research the <strong>urban housing crisis</strong>.
      </p>

      <ol>
        <li>You can take as much time as you need.</li>
        <li>You can access as many texts as you want and revisit texts, as needed.</li>
        <li>But, you will <strong>not</strong> be able to return to the source library, once you indicate that you are ready to compose a written response.</li>
        <li>Please do not refresh or use the back button for the duration of this study.</li>
      </ol>
    </div>

    <%= link_to "Continue", task_analysis_path, :class => "btn btn-success" %>
  </div><!-- .col-sm-12 col-md-6 -->
</div><!-- .row -->
