<h1 class="cover-heading">
	Thank you for your time!
</h1>

<p class="lead">
	There is just one last part -- please proceed to the <a href="http://surveymonkey.com/s/researchstudy_postassessment">Post-Task Assessment</a>
</p>
