<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="alert alert-info">
      <p>
        <% if @participant.id % 2 == 0 %>
          You will be asked to write a research report for policy makers about the causes of the urban
          housing crisis.
        <% else %>
          You will be asked to write a research report for policy makers about the solutions to the urban
          housing crisis.
        <% end %>
      </p>

      <p>
        Please explain what this assignment is asking you to do and your goals for this task.
      </p>
    </div>

    <%= form_tag '/task_analysis' do %>
      <%= text_area_tag :task_analysis, nil, :class => "form-control", :rows => 15, :required => true %>
      <br>
      <%= submit_tag "Continue", :class => "btn btn-success" %>
    <% end %>
  </div><!-- .col-sm-12 col-md-6 -->
</div><!-- .row -->
