<h1 class="cover-heading">
  Welcome!
</h1>

<p class="lead">
  Thank you for agreeing to participate in our research study.
</p>

<p class="lead">
  <%= link_to "Let's Get Started", new_participant_path, :class => "btn btn-lg btn-default" %>
</p>