<h1 class="cover-heading">
  Welcome!
</h1>

<p class="lead">
  This is the second part of the study.
</p>

<p class="lead">
  <%= link_to "Let's Get Started", new_participant_path, :class => "btn btn-lg btn-default" %>
</p>
