<h1 class="cover-heading">
  Welcome!
</h1>

<p class="lead">
  This is the third part of the study.  In this part we're going to ask you to complete a digital literacy task.
</p>

<p class="lead">
  <%= link_to "Let's Get Started", new_participant_path, :class => "btn btn-lg btn-default", :data => { :turbolinks => false } %>
</p>
